/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

/*================ ME ================*/

/*================ Banner With Animated Background ================*/

#top-banner .grid__item:nth-child(2), #lower-banner .grid__item:nth-child(2) {text-align: center;}
#top-banner .grid__item:nth-child(3), #lower-banner .grid__item:nth-child(3) {text-align: right; padding-right: 30px;}
#top-banner > div:nth-child(3) > a {color: white;}

#top-banner{
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: white;
  height: 40px;
  background:#72c602;
	background:-webkit-linear-gradient(left,#BBA2C8 50%,#E895AF);
	background:linear-gradient(-28deg, #BBA2C8 0%, #E895AF 100%);
          transition: all 1s ease;
  -webkit-transition: all 1s ease;
  background-size: 200% 200%;
          animation: MoveBG 20s ease infinite;
  -webkit-animation: MoveBG 20s ease infinite;
     -moz-animation: MoveBG 20s ease infinite;
       -o-animation: MoveBG 20s ease infinite;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#lower-banner{height: 100px;}

#lower-banner .site-logo {
 	color: #333;
 	text-decoration: none;
 	font-size: 0.6em;
 	font-weight: 300;
 	text-transform: uppercase;
 	letter-spacing: 2px;
}

 #lower-banner > div:nth-child(1) {margin-top: 20px;}
 #lower-banner > div:nth-child(2) {margin-top: 27px;}
 #lower-banner > div:nth-child(3) {margin-top: 37px;}

 #lower-banner .site-nav li {
 	margin-left: 30px;
 	float: left;
 	list-style: none;
 }

 #lower-banner .site-nav li:nth-child(1) {margin-left: 0px;}

 #lower-banner .site-nav li a {
   text-decoration: none;
   color: #333;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 0.7em;
 }

#lower-banner .site-nav li a::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #666;
	margin-top: 4px;
}
