/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
/*=================================================================*/
/*============================== ME ==============================*/
/*=================================================================*/

/*================ Banner With Animated Background ================*/

#top-header > div:nth-child(3) > a {
	color: white;
	text-decoration: none;
}

#top-header {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	color: white;
	height: 40px;
	background: #72c602;
	background: -webkit-linear-gradient(left, #bba2c8 50%, #e895af);
	background: linear-gradient(-28deg, #bba2c8 0%, #e895af 100%);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	background-size: 200% 200%;
	animation: MoveBG 20s ease infinite;
	-webkit-animation: MoveBG 20s ease infinite;
	-moz-animation: MoveBG 20s ease infinite;
	-o-animation: MoveBG 20s ease infinite;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 0px 30px;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#lower-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 19px 30px;
}

#lower-header h1 a {
 	color: #333;
 	text-decoration: none;
 	font-size: 0.5em;
 	font-weight: 400;
 	text-transform: uppercase;
 	letter-spacing: 2px;
}

#lower-header .site-nav {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	width: 400px;
	padding: 0;
}

#lower-header .site-nav li{list-style: none;}
#lower-header .site-nav li a {
   text-decoration: none;
   color: #333;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 0.8em;
 }

.site-nav--active > a:nth-child(1){font-weight: 600;}

#lower-header .site-nav li a::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #666;
	margin-top: 4px;
}


// Search bar
#Search {
	border-bottom: 1px solid #BCBCBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;}
#lower-header .btn {background: white;}

/*================ Collection Larger Button ================*/
/*==========================================================*/
/*=Fragrance Finder, Home Fragrances, Skincare, Bath & Body=*/
/*==========================================================*/

.tilter {
	position: relative;
	display: block;
	flex: none;
	width: 347px;
	height: 449px;
	margin: .8em .8em;
	color: #fff;
	perspective: 1000px;
}

.tilter * {pointer-events: none;}

.tilter:hover,
.tilter:focus {
	color: #fff;
	outline: none;
}

.tilter__figure,
.tilter__image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
  border-radius: 5px;
}

.tilter__figure > * {transform: translateZ(0px); /* Force correct stacking order */}



.tilter__figure {position: relative;}
.tilter__figure::before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	box-shadow: 0 25px 15px rgba(35,32,39,0.5);
}

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
  border-radius: 5px;
}

.tilter__deco--overlay {
	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.2), rgba(145, 58, 252, 0.2), rgba(16, 11, 192, 0.2));
}

.tilter__deco--shine div {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	/*background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);*/
}

.tilter__deco--lines {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

.tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3em 0em;
	text-align: center;
}
.tilter__title {
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 10px;
	margin: 0;
	letter-spacing: 1px;
}
.tilter__description {
	font-size: 0.85em;
	margin: 1em 0 0 0;
	letter-spacing: 0.15em;
}

.collection-larger-btn ul {
	display: flex;
	flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

/*================ Global ================*/
/*==========================================================*/
/*= You get to see it when you send a form =*/
/*==========================================================*/

.shopify-challenge__button.btn {
	background: #5343c2;
	padding: 1em 5em;
	color: white;
	border-radius: 5px;
	letter-spacing: 1px;
}
