/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
/*=================================================================*/
/*============================== ME ==============================*/
/*=================================================================*/

/*================ Banner With Animated Background ================*/

#top-header > div:nth-child(3) > a {
	color: white;
	text-decoration: none;
}

#top-header {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	color: white;
	height: 40px;
	background: #72c602;
	background: -webkit-linear-gradient(left, #bba2c8 50%, #e895af);
	background: linear-gradient(-28deg, #bba2c8 0%, #e895af 100%);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	background-size: 200% 200%;
	animation: MoveBG 20s ease infinite;
	-webkit-animation: MoveBG 20s ease infinite;
	-moz-animation: MoveBG 20s ease infinite;
	-o-animation: MoveBG 20s ease infinite;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 0px 30px;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MoveBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#lower-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 19px 30px;
}

#lower-header h1 a {
 	color: #333;
 	text-decoration: none;
 	font-size: 0.5em;
 	font-weight: 400;
 	text-transform: uppercase;
 	letter-spacing: 2px;
}

#lower-header .site-nav {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	width: 400px;
	padding: 0;
}

#lower-header .site-nav li{list-style: none;}
#lower-header .site-nav li a {
   text-decoration: none;
   color: #333;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 0.8em;
 }

.site-nav--active > a:nth-child(1){font-weight: 600;}

#lower-header .site-nav li a::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #666;
	margin-top: 4px;
}
