#shopify-section-footer{
  margin-top: 50px;
}
#shopify-section-footer {
  background: #FAFAFA;
	padding-top: 1px;
	letter-spacing: 0.5px;
  bottom: 0;
}

footer ul {
	display: flex;
	justify-content: space-between;
	padding: 0px;
}

footer ul li{list-style: none;}

footer ul:nth-child(1) > li:nth-child(2) a {font-size: 0.8em;}

footer ul li a {
	text-decoration:none;
  color:#5343C2;}
