footer div.top section {
	background: #FAFAFA;
	width: 50%;
	float: left;
	padding: 1.5em 0;
}
footer div.top section ul {
	margin-left: -40px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: baseline;
  justify-content:center;
}
footer div.top section ul li {margin-right: 10px;}
footer div.top section ul li:nth-child(1) {margin-right: 30px;}
footer div.top section ul li:last-child {margin-right: 0px;}
footer div.top section ul li h4 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 0.9em;
}
footer div.top section:nth-child(1) ul li svg {color: #666;}
footer div.top section:nth-child(2) {background: #F2F2F2;}



footer div.bottom p {
	font-size: 0.8em;
	color: #333;
}
footer div.bottom section:nth-child(1) {float: left;}
footer div.bottom section:nth-child(2) {float: right;}
footer div.bottom section:nth-child(2) ul {
	display: flex;
	list-style: none;
}
footer div.bottom section:nth-child(2) ul li {margin-right: 15px;}
footer div.bottom section:nth-child(2) ul li:last-child {margin-right: 0px;}

footer div.top section:nth-child(2) ul li a,
footer div.bottom section:nth-child(2) ul li a {
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

footer div.bottom section:nth-child(2) ul li a {
	text-decoration: none;
	color:#5343C2;
	font-size: 0.9em;
}
footer div.bottom section:nth-child(2) ul li a:hover {
	color:#8080C2;
}

footer div.top section:nth-child(2) ul li a {
	background: #5343C2;
	padding: 9px 0px;
	border-radius: 30px;
	color: white;
	display: block;
	height: 35px;
	width: 35px;
	text-align: center;
}
footer div.top section:nth-child(2) ul li a:hover{
	background: #8080C2;
}



@include media-query($small){
	footer div.top section{
		width: 100%;
	}
}
@include media-query($medium) {
	footer div.top section{
		width: 100%;
	}
}
