<style media="screen">
#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section {
  width: 50%;
  float: left;
}
#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section div.intro-video {
	padding: 0;
	padding-top: 30px;
}
#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section ul li.animationFadeIn.hidden.visible.animated.fadeIn a.tilter.tilter--2 {
	width: 245px;
	height: 319px;
}

#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section ul li.animationFadeIn.hidden.visible.animated.fadeIn.full-visible a.tilter.tilter--2 figure.tilter__figure figcaption.tilter__caption h3.tilter__title,
#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section ul li.animationFadeIn.hidden.visible.animated.fadeIn a.tilter.tilter--2 figure.tilter__figure figcaption.tilter__caption h3.tilter__title {
	font-size: 1em;
	margin-bottom: -0.8em;
}

#christian-siriano-fragrances.template-page main#MainContent div.page-width.collection-larger-btn section div.intro-video video::after{
  display: none;
}
</style>

<nav class="breadcrumbs-nav">
  <ul class="animationFadeIn">
    <li><a href="/pages/fragrances">Fragrances</a></li>
    <li><p>Christian Siriano Collections</p></li>
  </ul>
</nav>
<div class="page-width collection-larger-btn">
  <section>
    <div class="intro-video">
        <video controls="true" autoplay loop muted poster="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom.jpg">
          <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/Silhuette_less_than_20_MB.mp4" type="video/mp4">
          <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/silhuette.webm" type="video/webm">
          <p>This browser does not support the video element.</p>
        </video>
    </div>
  </section>

  <section>
    <ul>
      <li class="animationFadeIn">
        <a href="/collections/christian-siriano-silhouette-fragrances" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/cs-_banner-_347x449.jpg?12130140814671504828" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Silhouette</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/christian-siriano-silhouette-in-bloom-fragrances" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS-_Inbloom-_347x449.jpg?12130140814671504828" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Silhouette in Bloom</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
    <ul>
  </section>
</div>
