<!-- <h1>{{ page.title }}</h1> -->

<div class="rte page-width">
  {{ page.content }}
  <div class="grid page-width">
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <div class="rectangle-4">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
          <div class="view-collection">
            <a href="#">View Collection</a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid__item loadMore">
      <div class="page-width rectangle">
        <h4><a href="#">Load More</a></h4>
      </div>
    </div>
    <!-- Add Additional Collections Here -->
  </div>
</div>

<style>
/*CONSOLIDATE DUPLICATE CODE IN THEME.SCSS*/
.page-width {
  align-content: center;
}
a { color: #fff; }
.innerText a {
  color: white;
  text-decoration: none;
}
/*MAY DELETE ABOVE*/

.grid__item {
  padding-left: 0;
}

.innerText div {
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
}
.fragrance-box {
  background-image: url('https://dummyimage.com/325x375/000/fff');
  border-radius: 10px;
  background-size: cover;
  height: 375px;
  width: 325px;
  margin-right: 2%;
  margin-bottom: 2%;
}
.view-collection h3 {
  margin-top: 0;
}
.view-collection {
  border: 2px solid white;
  font-size: 0.9rem;
  margin-top: 75%;
  background-color: grey;
  padding-bottom: 4%;
  padding-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
.loadMore {
  text-align: center;
  border: 2px solid #fff;
}
.loadMore > h4 {
  text-transform: uppercase;
  color: #fff;
  background-color: black;

}
.rectangle-4 {
  margin: 4%;
  padding: 0;
	width: 300px;
	height: 350px;
	border-radius: 5px;
	border: solid 2px #fff;
}
.rectangle {
  background-color: #000;
  border: 5px solid green;
  align-items: center;
  width: 200px;
}
</style>
