<div class="page-width collection-larger-btn">
    <ul>
      <li>
        <a href="/pages/lalique-parfums-bath-body-masculine" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://dummyimage.com/347x449/333/ccc" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Masculine</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li>
        <a href="/pages/lalique-parfums-bath-body-feminine" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://dummyimage.com/347x449/333/ccc" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Feminine</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <!-- <li>
        <a href="/collections/lalique-parfums-bath-body-shared" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://dummyimage.com/347x449/333/ccc" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Shared</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li> -->
    <ul>
</div>
