<!-- <h1>{{ page.title }}</h1> -->

<div class="rte">
  {{ page.content }}
  <div class="">
    <ul class="category-picture">
      <li class="picture-item">
        <img src="https://dummyimage.com/400x400/000/fff.jpg" alt="">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Parfums de Marly</a></h3>
          </div>
        </div>
      </li>
      <li class="picture-item">
        <img src="https://dummyimage.com/400x400/000/fff.jpg" alt="">
        <div class="innerText">
          <div class="captionDiv">
            <h3><a href="#">Tiziana Terenzi</a></h3>
          </div>
          <!-- <div class="view-collection">
            <a href="#">View Collection</a>
          </div> -->
        </div>
      </li>
    </div>
  </ul>
</div>

<style>
.category-picture {
  display: inline-block;
}
.innerText a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.innerText{
}
</style>
