<nav class="breadcrumbs-nav">
  <ul class="animationFadeIn">
    <li><a href="/pages/fragrances">Fragrances</a></li>
    <li><a href="/pages/tous-collections">Tous Collections</a></li>
    <li><p>Feminine</p></li>
  </ul>
</nav>

<div class="page-width collection-larger-btn">
    <ul>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-bonjour-senorita-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-Bonjour_Senorita_88cee71d-5e3b-4951-95ff-444641586aad.jpg?14310225768582194480" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Bonjour Señorita</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-floral-touch-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-FLORAL.jpg?4412829830430402121" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Floral Touch</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-h2o-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Tous-_H2O.jpg?10079254273321962850i
            " alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">H2O</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-happy-moments-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-Happy.jpg?4412829830430402121" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Happy Moments</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-in-heaven-her-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/tous-in-heaven-Her.jpg?10909723425630142659" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">In Heaven Her</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-leau-de-parfum-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-_LEAU_DE_PARFUM.jpg?4412829830430402121" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">L'Eau de Parfum</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-leau-de-toilette-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-_LEAU_DE_TOILETTE_43e3d11d-9744-4c5c-8335-629fa92e2b7b.jpg?16509071621612585876" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">L'Eau de Toilette</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <!-- <li class="animationFadeIn">
        <a href="/collections/tous-feminine-leau-pour-le-corps-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-_LEAU-_LE_CORPS.jpg?4412829830430402121" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Le Corps</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li> -->
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-les-colognes-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-LES_COLOGNES.jpg?4412829830430402121" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Les Colognes</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-love-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-_LOVE.jpg?4412829830430402121" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Love</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <!-- <li class="animationFadeIn">
        <a href="/collections/tous-feminine-neoncandy-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Tous-Neoncandy.jpg?4412829830430402121" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Neoncandy</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li> -->
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-rosa-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/ROSA.jpg?4412829830430402121" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Rosa</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-rosa-eau-legere-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/ROSA_Eue_Legare.jpg?4412829830430402121" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Rosa Eau Legere</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-sensual-touch-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-TOUCH_27328da6-d41f-436b-ad32-bd8fa4e55693.jpg?13788488721240178261" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Sensual Touch</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-tous-eau-de-parfum-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS_EAU_DE_PARFUM.jpg?11272763571610899951" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">TOUS Eau de Parfum</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/tous-feminine-tous-eau-de-toilette-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS_EAU_DE_TOILETTE-_Social_Media_Christmas_Photo.jpg?11272763571610899951" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">TOUS Eau de Toilette</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <!-- <li class="animationFadeIn">
        <a href="/collections/tous-feminine-touch-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS-TOUCH_27328da6-d41f-436b-ad32-bd8fa4e55693.jpg?13788488721240178261" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Touch</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li> -->
    <ul>
</div>
