<div class="pressPage">
  <div class="wide-intro">
    <section>
      <h2>Press</h2>
      <p>Short description of what you can find in this page</p>
    </section>
  </div> <!-- End of .wide-intro -->
  <div class="archive-list">
    <section>
      <div>
        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
        <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
      </div>
      <table class="responsive-table">
        <thead class="small--hide">
          <tr>
            <th colspan="1">Publication</th>
            <th colspan="1">Article</th>
            <th colspan="1">Published</th>
            <th colspan="1">Media</th>
          </tr>
          <tbody>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Popsugar</p></td>
              <td data-label="Article" class="article"><p>These Are the 6 Trendiest Fragrance Notes For Summer 2017</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.popsugar.com/beauty/Summer-Fragrance-Trends-2017-43604276" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Bustle</p></td>
              <td data-label="Article" class="article"><p>9 Millennial Pink Beauty Products That Will Turn Your Medicine Cabinet Into An Instagram Moment</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.bustle.com/p/9-millennial-pink-beauty-products-that-will-turn-your-medicine-cabinet-into-instagram-moment-69918"target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Wag Mag</p></td>
              <td data-label="Article" class="article"><p>The Sweet Scent of Success</p></td>
              <td data-label="Published" class="published"><p>6/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wagmag.com/the-sweet-scent-of-success/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Luxury Daily</p></td>
              <td data-label="Article" class="article"><p>Lalique's Latest Perfume Trio Inspired by Heritage, Crystal-making Process </p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.luxurydaily.com/laliques-latest-perfume-trio-inspired-by-heritage-crystal-making-process/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Article" class="article"><p>Lalique Mon Premier Cristal - new perfumes</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2017/05/29/lalique-mon-premier-cristal-new-perfumes/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Article" class="article"><p>New Fragrance Review: Parfums de Marly Delina (Quentin Bisch) 2017 + A Horse of A Different Color Draw</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/new-fragrance-review-parfums-de-marly-delina-quentin-bisch-2017-a-horse-of-a-different-color-draw/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Teen Vogue Online</p></td>
              <td data-label="Article" class="article"><p>Best Fragrances by Zodiac Sign</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.teenvogue.com/gallery/best-spring-fragrances-for-your-zodiac-sign#12" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Beauty & Wellbeing</p></td>
              <td data-label="Article" class="article"><p>Dear Rose Collection</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://beautyandwellbeing.com/beauty/interview-beauty/dear-rose-collection/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Article" class="article"><p>Lalique Unveils 2018 Seduction Perfume Bottle </p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/lalique-releases-limited-edition-seduction-perfume-bottle-10859921/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Allure</p></td>
              <td data-label="Article" class="article"><p>Lalique's New Seduction Fragrance Bottle Costs $1800</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.allure.com/story/lalique-new-seduction-fragrance-costs-1800-dollars" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Gotham</p></td>
              <td data-label="Article" class="article"><p>Lalique Parfums Trunk Show with Julie Carry</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://gotham-magazine.com/Lalique-Parfums-Trunk-Show-with-Julie-Carry" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Global Gumshoe</p></td>
              <td data-label="Article" class="article"><p>Six World Fragrances That Will Have You Dreaming about Travel</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://globalgumshoe.com/six-world-fragrances-will-dreaming-travel/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Allure</p></td>
              <td data-label="Article" class="article"><p>15 Luxurious Mother's Day Gifts for 2017</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.allure.com/gallery/luxe-mothers-day-gift-ideas" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Total Beauty</p></td>
              <td data-label="Article" class="article"><p>Lalique Noir Terres Aromatiques Eau de Parfum</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>The Paramus Post</p></td>
              <td data-label="Article" class="article"><p>LALIQUE PARFUMS TRUNK SHOW WITH A PERSONAL APPEARANCE BY JULIE CARRY, SENIOR BRAND MANAGER IN PARIS, FRANCE</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.paramuspost.com/article.php/20170322125533639" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Article" class="article"><p>New Perfume Review Parfums de Marly Delina- Floriental Gourmand</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/new-perfume-review-parfums-de-marly-delina-floriental-gourmand/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>HudsonMod</p></td>
              <td data-label="Article" class="article"><p>Andromeda by Tiziana Terenzi</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://hudsonmod.com/andromeda-tiziana-terenzi/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>AMEinfo.com</p></td>
              <td data-label="Article" class="article"><p>AMEinfo.com</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://ameinfo.com/luxury-lifestyle/lifestyle/tiziana-terenzi-inheriting-niche-perfumery/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>JCK Online</p></td>
              <td data-label="Article" class="article"><p>Tous Brought the Best Kind of Folly to Baselworld</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.jckonline.com/editorial-article/tous-brought-the-best-kind-of-folly-to-baselworld/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Luxatic</p></td>
              <td data-label="Article" class="article"><p>Tom Ford’s Black Orchid Perfume Receives a Special Lalique Touch</p></td>
              <td data-label="Published" class="published"><p>1/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://luxatic.com/tom-fords-black-orchid-perfume-receives-a-special-lalique-touch/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Article" class="article"><p>Top 3 Holiday Party Fragrances Chosen by Stephanie + PdM Layton Full Bottle GIVEAWAY </p></td>
              <td data-label="Published" class="published"><p>12/16/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=oJFWMEI1PVY" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Article" class="article"><p>Parfums de Marly Habdan REVIEW with Tiff Benson & Redolessence + GIVEAWAY</p></td>
              <td data-label="Published" class="published"><p>12/16/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=uiZT8IPjFYc" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Article" class="article"><p>New Perfume Review Parfums de Marly Layton- Handicapping the Field</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/new-perfume-review-parfums-de-marly-layton-handicapping-the-field/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Article" class="article"><p>Colognoisseur 2016 Year-End Review Part 3- The Top 25 New Perfumes of the Year</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/colognoisseur-2016-year-end-review-part-3-the-top-25-new-perfumes-of-the-year/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Article" class="article"><p>New Fragrance Review: Parfums de Marly Layton (Hamid Merati-Kashani)+The Horses of The Sun Draw</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/new-fragrance-review-parfums-de-marly-layton-hamid-merati-kashani-the-horses-of-the-sun-draw/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Lookfeelsmellgreat</p></td>
              <td data-label="Article" class="article"><p>Parfums De Marly LAYTON Review + Full Bottle GIVEAWAY</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=HqpnIsbw1nI" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>The Street</p></td>
              <td data-label="Article" class="article"><p>Top 10 Luxury Holiday Gifts for Him</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.thestreet.com/slideshow/13934307/2/top-10-luxury-holiday-gifts-for-him.html" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Article" class="article"><p>Favorite Perfume Releases of 2016</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://carlosbfl319.blogspot.com/2016/12/my-favorite-perfume-releases-of-2016.html?m=1" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Article" class="article"><p>PERFUME: THE BEST OF 2016</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/12/30/perfume-the-best-of-2016/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Vogue.ES</p></td>
              <td data-label="Article" class="article"><p>PERFUMES QUE SON POEMAS</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.vogue.es/belleza/articulos/starck-perfumes-paris/27433" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Frantica</p></td>
              <td data-label="Article" class="article"><p>UNVEILING STARCK'S PEAU D'AILLEURS</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.fragrantica.com/news/Unveiling-Starck-s-Peau-d-Ailleurs-8817.html" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>


          </tbody>
        </thead>
      </table>
    </section>
  </div> <!-- End of .archive-list -->
</div><!-- End of .pressPage -->
