<div class="page-width collection-larger-btn">
    <ul>
      <li>
        <a href="/collections/lalique-masculine-encre-noire-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique_-_Encre_Noir.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Encre Noire</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-encre-noire-a-lextreme-fragrance-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_encre_noire_L_extreme.jpg?6654839743689235887" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Encre Noire A L'Extreme</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-encre-noire-sport-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique_-Encre_Noir_Sport.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Encre Noire Sport</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-hommage-a-lhomme-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_Hommage-_a-_l_homme.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Hommage A L'Homme</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-lalique-white-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_white.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Lalique White</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-l-insoumis-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_L_Insoumis.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">L’Insoumis</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-pour-homme-equus-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique_pour_homme_Equus.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Pour Homme Equus</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-pour-homme-lion-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/lalique-pour_homme_lion.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Pour Homme Lion</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-masculine-pour-homme-le-faune-fragrance-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_Pour_Homme_Le_Faune.jpg?6654839743689235887" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Pour Homme Le Faune</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
    <ul>
</div>
