<h1>{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
  <div class="grid">
    <img class="grid__item" src="http://via.placeholder.com/1440x494" alt="">
    <div class="about-content grid">
      <div class="grid__item small-down">one third 2.1 stars</div>
      <div class="grid__item ">
        <p class="grid__item medium-up--one-third">
          The Fragrance Group was founded as the exclusive US distributor for a select group of prestige specialty fragrances. Our mission is to build the business of small to medium volume brands in high-end department store distribution. Our business model allows us to provide hands on service to our retail partners to accomplish our mission. We proudly distribute Silhouette Christian Siriano, Lalique Parfums, Parfums de Marly, Tiziana Terenzi, Orlov Paris, Starck Paris, Dear Rose, Tous, Halloween, Desigual, Dali Haute Parfumerie, and Brioni.
        </p>
      </div>
      <div class="grid__item">one third 2.2 stars</div>
    </div>
  </div>
</div>

<style>

  * {
  text-align: center;
  }
</style>
