<div class="rte">
  {{ page.content }}
  <div class="editorial-gradient">
    <div class="editorial-gradient-text grid">
      <h1 class="grid__item">Editorial</h1>
      <div class="gradient-phrase grid">
        <h2 class="grid__item">Something amazing is launching <br>this fall 2017.</h2>
      </div>
      <div class="subscribe button-default">
        <a href="#">Subscribe</a>
      </div>
    </div>
  </div> <!-- Gradient Div -->
  <div class="grid three-featured-editorials">
    <div class="grid__item medium-up--one-third editorial-box">
      <div class="editorial-feature">
        <p>Night Creams Will Help Your Skin To Relax Become Younger</p>
        <hr>
        <div class="date-author">
          <div class="month-year-posted">
            <h5>August 2017</h5>
          </div>
          <div class="person-posted">
            <h5>WWD</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third editorial-box">
      <div class="editorial-feature">
        <p>Night Creams Will Help Your Skin To Relax Become Younger</p>
        <hr>
        <div class="date-author">
          <div class="month-year-posted">
            <h5>August 2017</h5>
          </div>
          <div class="person-posted">
            <h5>WWD</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third editorial-box">
      <div class="editorial-feature">
        <p>Night Creams Will Help Your Skin To Relax Become Younger</p>
        <hr>
        <div class="date-author">
          <div class="month-year-posted">
            <h5>August 2017</h5>
          </div>
          <div class="person-posted">
            <h5>WWD</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-press-articles button-default">
    <a href="#">More: Press Articles</a>
  </div>

</div>

<style>
.button-default {
  align-content: center;
  width: 200px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.editorial-gradient {
	height: 750px;
	background-image: linear-gradient(41deg, #bba2c8, #e895af);
  padding-top: 4%;
  /*align-content: center;*/
  text-align: center;
  color: white;
  line-height: 4rem;
}
.editorial-box {
  margin-top: -5%;
}
.editorial-gradient-text h1 {
  text-decoration: underline;
}
.gradient-phrase {
  font-size: 1.25rem;
}
.subscribe {
  margin: 0 auto;
  color: #fff;
}
.editorial-box div {
}
.editorial-feature {
  width: 453px;
  height: 250px;
  border-radius: 5px;
  background-image: url('https://dummyimage.com/453x250/000/');
  background-size: cover;
  padding-left: 7%;
  padding-right: 9%;
  margin-top: -25%;
  padding-top: 20%;
  color: #fff;
  align-content: center;
  text-align: center;
  margin-right: 15%;
}
.editorial-feature hr {
  margin-top: 15%;
}
.date-author {
  margin-top: 2%;
}
.month-year-posted {
  float: left;
}
.person-posted {
  float: right;
}
.more-press-articles {
	border: solid 2px #333333;
  font-size: 0.8rem;
  color: #000;
  text-align: center;
  padding-top: 2%;
  margin-top: 2%;
}
.more-press-articles a {
  color: #000;
}
</style>
