<div class="page-width collection-larger-btn">
    <ul>
      <li>
        <a href="/collections/lalique-feminine-amethyst-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Amethyst.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Amethyst</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-amethyst-eclat-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Amethyst_Eclat.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Amethyst "Eclat"</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <!-- <li>
        <a href="/collections/lalique-feminine-azalee-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://dummyimage.com/347x449/333/ccc" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Azalee</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li> -->
      <li>
        <a href="/collections/lalique-feminine-fleur-de-cristal-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Fleur_de_Cristal.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Fleur de Cristal</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-lamour-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-L_Amour.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">L'Amour</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-lalique-de-lalique-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-de_Lalique.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Lalique de Lalique</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-le-parfum-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Le_Parfum.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Le Parfum</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-living-lalique-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Living_Lalique.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Living Lalique</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-nilang-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Nilang.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Nilang</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-perles-de-lalique-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Perles_de_Lalique.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Perles de Lalique</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-reve-dinfini-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-Reve_D_Infini.jpg?9476889950311634632" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Reve D'Infini</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li>
        <a href="/collections/lalique-feminine-satine-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique_-Satine.jpg?9476889950311634632" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Satine</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
    <ul>
</div>
