<nav class="breadcrumbs-nav">
  <ul class="animationFadeIn">
    <li><p>Bath & Body</p></li>
  </ul>
</nav>

<div class="page-width collection-larger-btn">
    <ul>
      <li class="animationFadeIn">
        <a href="/collections/cartier-bath-body" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/cartier-_bath_body-_low_res.jpg?13419249787370924842" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Cartier</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/dolce-gabbana-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/D_G_bath__body-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Dolce & Gabbana</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/donna-karan-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Donna_Karan_955864d3-473c-474f-a8de-66e156049456.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Donna Karan</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/gucci-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/gucci-_bath_BODY-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Gucci</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/issey-miyake-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Issey_Miyake-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Issey Miyake</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/jean-patou-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Jean_Patou-_bath_body-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Jean Patou</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/jimmy-choo" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Jimmy_choo-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Jimmy Choo</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/john-varvatos-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/John_Varvatos-_bath_body-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">John Varvatos</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/kate-spade-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/kate_spade-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Kate Spade</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/pages/lalique-parfums-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique_-_low_res.jpg?134192497873709248423" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Lalique Parfums</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/oscar-de-la-renta-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Oscar_de_la_renta-_bath_body-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Oscar De La Renta</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/philosophy-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Philosophy-_low_res_eb590840-4390-40d6-9771-472ccc9bb1c7.jpg?17979816190944929943" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Philosophy</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/zegna-bath-body" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/zegna-_bath_body-_low_res.jpg?13419249787370924842" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Zegna</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
    <ul>
</div>
