<!-- <h1>{{ page.title }}</h1> -->

<div class="rte container">
  {{ page.content }}
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/1-_Marly.jpg?3487447762098243227" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Parfums de Marly</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/2-_Lalique-_new_dimentions_6f557e7b-0bea-48b0-8791-edbf00f5a716.jpg?3452779570767600477" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Lalique Parfums</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Terenzi_-_new_pic_b337055f-9cf5-4998-a125-b5ff2a04f2a6.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Tiziana Terenzi</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/4-_starck-_new2.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Starck Paris</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>

</div>

<style>
  .container {
    padding: 5%;
  }
  .grid { text-align: center; }
  .captionDiv a {
    text-align: center;
  }
  .captionDiv {
  }
  .fragCaption {
    color: #fff;
  }
  .view-collection a {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid white;
  }
  .view-collection {
    margin-top: 70%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);

  }
  .innerText {
    margin-top: -100%;
    padding-bottom: 15%;
  }
  .innerText a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .innerSquare {
    content: "";
    border: 15px solid white;
    margin-top: 26px;
  }
  .captionDiv .view-collection .loadMore { font-weight: bold; }
  .rectangle-4-copy-2 {
	width: 325px;
	height: 375px;
	border-radius: 5px;
	border: solid 2px #ffffff;
}
</style>
