<!-- <h1>{{ page.title }}</h1> -->

<div class="rte container">
  {{ page.content }}
  <div class="grid pageWrapper">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/1-_Marly.jpg?3487447762098243227" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Parfums de Marly</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/2-_Lalique-_new_dimentions_6f557e7b-0bea-48b0-8791-edbf00f5a716.jpg?3452779570767600477" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Lalique Parfums</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Terenzi_-_new_pic_b337055f-9cf5-4998-a125-b5ff2a04f2a6.jpg?2855462671691845539" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Tiziana Terenzi</h3>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/4-_starck-_new2.jpg?2855462671691845539" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Starck Paris</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/6-_initio.jpg?8889640019457393379" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Initio Parfums</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/7-_orlov.jpg?8889640019457393379" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Orlov Paris</h3>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/DEARROSE-VISUELS-26.jpg?2855462671691845539" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Dear Rose</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/9-brioni_1.jpg?12583953971273752649" alt="">
      <div class="fragrance-box">

      </div>
      <div class="captionDiv">
        <h3 class="fragCaption">Brioni</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/10-_dali-_new.jpg?2855462671691845539" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Dali Haute Parfumerie</h3>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/11-_christian_seriano.jpg?8889640019457393379" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Christian Siriano</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS_-_new_dimentions.jpg?2855462671691845539" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Tous</h3>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/13-_Desigual.jpg?8889640019457393379" alt="">
      <div class="captionDiv">
        <h3 class="fragCaption">Desigual</h3>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item one-whole">
      <h2 class="loadMore">Load More</h2>
    </div>
  </div>

</div>

<style>
  .container {
    padding: 5%;
  }
  .grid { text-align: center; }
  .captionDiv {
    margin: 0;
    padding-top: -25%;
  }
  .fragCaption {
    color: #fff;
  }
  .fragrance-box img {
    border: 1px solid green;
    padding: -25%;
  }
  .loadMore {
    padding-top: 5%;
  }
</style>
