<nav class="breadcrumbs-nav">
  <ul class="animationFadeIn">
    <li><a href="/pages/fragrances">Fragrances</a></li>
    <li><a href="/pages/lalique-parfums-collections">Lalique Parfums Collections</a></li>
    <li><p>Shared</p></li>
  </ul>
</nav>

<div class="page-width collection-larger-btn">
    <ul>
      <li class="animationFadeIn">
        <a href="/collections/lalique-shared-les-compositions-parfumees-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_Shared-Les_Compositions.jpg?9957882389586569398" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Les Compositions Parfumees</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <li class="animationFadeIn">
        <a href="/collections/lalique-shared-noir-premier-collection" class="tilter tilter--2">
          <figure class="tilter__figure">
            <img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Lalique-_noir_premier.jpg?9957882389586569398" alt="" />
            <div class="tilter__deco tilter__deco--shine"><div></div></div>
            <div class="tilter__deco tilter__deco--overlay"></div>
            <figcaption class="tilter__caption">
              <h3 class="tilter__title">Noir Premier</h3>
              <p class="tilter__description">Collection</p>
            </figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
              <path d="M45.5,20.5h250v375h-290V20.5z" />
            </svg>
          </figure>
        </a>
      </li>
    <ul>
</div>
