<div class="pressPage">
  <div class="wide-intro">
    <section>
      <h2>Press</h2>
      <p>Short description of what you can find in this page</p>
    </section>
  </div> <!-- End of .wide-intro -->
  <div class="archive-list">
    <section>
      <table class="responsive-table">
        <thead class="small--hide">
          <tr>
            <th colspan="1">Publication</th>
            <th colspan="1">Article</th>
            <th colspan="1">Published</th>
            <th colspan="1">Media</th>
          </tr>
          <tbody>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Popsugar</p></td>
              <td data-label="Article" class="article"><p>These Are the 6 Trendiest Fragrance Notes For Summer 2017</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Bustle</p></td>
              <td data-label="Article" class="article"><p>9 Millennial Pink Beauty Products That Will Turn Your Medicine Cabinet Into An Instagram Moment</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Wag Mag</p></td>
              <td data-label="Article" class="article"><p>The Sweet Scent of Success</p></td>
              <td data-label="Published" class="published"><p>6/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Luxury Daily</p></td>
              <td data-label="Article" class="article"><p>Lalique's Latest Perfume Trio Inspired by Heritage, Crystal-making Process </p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Article" class="article"><p>Lalique Mon Premier Cristal - new perfumes</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row">
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Article" class="article"><p>New Fragrance Review: Parfums de Marly Delina (Quentin Bisch) 2017 + A Horse of A Different Color Draw</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </thead>
      </table>
    </section>
  </div> <!-- End of .archive-list -->
</div><!-- End of .pressPage -->
