<div class="pressPage">
  <div class="wide-intro">
    <section class="animationFadeIn">
      <h2>Press</h2>
    </section>
  </div> <!-- End of .wide-intro -->
  <div class="archive-list">
    <section>
      <table class="responsive-table">
        <thead class="small--hide">
          <tr>
            <th colspan="1">Article</th>
            <th colspan="1">Publication</th>
            <th colspan="1">Published</th>
            <th colspan="1">Media</th>
          </tr>
          <tbody>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>How To Choose The Best Perfume For You, Based On Your Zodiac Sign</p></td>
              <td data-label="Publication" class="publication"><p>EliteDaily.com</p></td>
              <td data-label="Published" class="published"><p>2/1/2018</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.elitedaily.com/p/how-to-choose-the-best-perfume-for-you-based-on-your-zodiac-sign-8075615" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Valentine's Day Gift Guide</p></td>
              <td data-label="Publication" class="publication"><p>Beyond the Acorn Magazine</p></td>
              <td data-label="Published" class="published"><p>1/1/2018</p></td>
              <td data-label="Media" class="media">
                <a href="https://issuu.com/beyondtheacorn/docs/beyond_the_acorn_winter_2018?e=7982964/56774982" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Feel Good and Look Great</p></td>
              <td data-label="Publication" class="publication"><p>Parents Magazine</p></td>
              <td data-label="Published" class="published"><p>1/1/2018</p></td>
              <td data-label="Media" class="media">
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Dressing Table</p></td>
              <td data-label="Publication" class="publication"><p>Victoria Magazine</p></td>
              <td data-label="Published" class="published"><p>1/1/2018</p></td>
              <td data-label="Media" class="media">
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>ÇaFleureBon Best (and Worst) Fragrances of 2017 + Part 1 Draw</p></td>
              <td data-label="Publication" class="publication"><p>Cafleurebon</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/cafleurebon-best-and-worst-fragrances-of-2017-part-1-draw/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Delina- Parfums de Marly</p></td>
              <td data-label="Publication" class="publication"><p>The Gone Cat</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.thegonecat.com/delina-parfums-de-marly/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>2017 Holiday Gift Guide</p></td>
              <td data-label="Publication" class="publication"><p>AngiesAngelHelpNetwork.com</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://angiesangelhelpnetwork.com/2017-holiday-gift-guide/ " target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>2017 Urban Milan Gift Guide</p></td>
              <td data-label="Publication" class="publication"><p>UrbanMilan.com</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.urbanmilan.com/holiday-gifts-for-her-2017.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Four Fine Holiday Candles</p></td>
              <td data-label="Publication" class="publication"><p>BeautyandWellbeing.com</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://beautyandwellbeing.com/well-being/editors-picks/holiday-candles/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Top Gifts for Women (Mom)</p></td>
              <td data-label="Publication" class="publication"><p>Parenting in Progress</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://parentinginprogress.net/hgg-women-6/12/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Top Gifts for Baby/Mom To Be</p></td>
              <td data-label="Publication" class="publication"><p>Parenting in Progress</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://parentinginprogress.net/hgg-baby-3/15/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>8 Perfume Bottles to Fall in Love With</p></td>
              <td data-label="Publication" class="publication"><p>Beauty New NYC</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.beautynewsnyc.com/fragrance/8-perfume-bottles-fall-love/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Holiday Gift Guide 2017! Things Big, Small & In Between!</p></td>
              <td data-label="Publication" class="publication"><p>Luxe Life NYC</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://luxelifenyc.com/2017/12/holiday-gift-guide-2017-things-big-small-in-between/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Croc of Gold</p></td>
              <td data-label="Publication" class="publication"><p>Fashion Daily Mag</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://fashiondailymag.com/croc-of-gold-gifts-2017/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Pink in the City Holiday</p></td>
              <td data-label="Publication" class="publication"><p>Fashion Daily Mag</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://fashiondailymag.com/pink-in-the-city-holiday/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Beauty Gift Guide</p></td>
              <td data-label="Publication" class="publication"><p>Pilates Style Magazine</p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Beauty Swag</p></td>
              <td data-label="Publication" class="publication"><p>Newsday Luxury Living Magazine </p></td>
              <td data-label="Published" class="published"><p>12/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://paper.newsday.com/html5/reader/production/default.aspx?edid=bb22e5fd-04ac-43c4-98e1-8710d28b6254" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Tis The Season of Beauty</p></td>
              <td data-label="Publication" class="publication"><p>Resident Magazine</p></td>
              <td data-label="Published" class="published"><p>11/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://issuu.com/resident_mag/docs/__november_2017_issuu__jessica_pime" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Fascinating Fragrance Terms Every Perfume Lover Needs To Know</p></td>
              <td data-label="Publication" class="publication"><p>SouthernLiving.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.southernliving.com/fashion-beauty/beauty-makeup/fragrance-terms" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The 7 Trendiest Fragrances Everyone Will Be Wearing This Fall</p></td>
              <td data-label="Publication" class="publication"><p>Popsugar</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.popsugar.com/beauty/photo-gallery/44078121/image/44085443/Tuberose" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>12 So-Pretty New Fall Fragrances to Try This Season</p></td>
              <td data-label="Publication" class="publication"><p>StyleCaster.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://stylecaster.com/beauty/new-fall-fragrances-2017/slide1" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Fragrance Group Debuts So Avant Garde</p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/the-fragrance-group-debuts-so-avant-garde-10969250/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Birds of a Feather</p></td>
              <td data-label="Publication" class="publication"><p>Essential Homme</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Precious Cargo</p></td>
              <td data-label="Publication" class="publication"><p>C Weddings Fall 2017</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/the-fragrance-group-debuts-so-avant-garde-10969250/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Fragrance Group Debuts So Avant Garde</p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/the-fragrance-group-debuts-so-avant-garde-10969250/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>You Deserve It: Luxe Beauty Finds</p></td>
              <td data-label="Publication" class="publication"><p>CVLUX.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cvlux.com/fashion-beauty-1/2017/9/7/you-deserve-it" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Luxe Beauty Finds </p></td>
              <td data-label="Publication" class="publication"><p>CVLUX</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://issuu.com/eddiemelikian/docs/cvlux_webfile" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Get An Inside Look At The Making Of Tiziana Terenzi’s Latest Fragrance, Lunanera</p></td>
              <td data-label="Publication" class="publication"><p>TheWindow.Barneys.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://thewindow.barneys.com/tiziana-terenzi/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Newsletter</p></td>
              <td data-label="Publication" class="publication"><p>Bal Harbour Shops</p></td>
              <td data-label="Published" class="published"><p>8/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wagmag.com/luxury-from-lalique-parfums/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>

            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Summer Scents of Style (PAGE 142)</p></td>
              <td data-label="Publication" class="publication"><p>Genlux</p></td>
              <td data-label="Published" class="published"><p>8/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://issuu.com/genlux/docs/genlux_summer_2017" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Luxury from Lalique Parfums</p></td>
              <td data-label="Publication" class="publication"><p>Wag Mag</p></td>
              <td data-label="Published" class="published"><p>8/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wagmag.com/luxury-from-lalique-parfums/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Smell Like Royalty With These Beloved Fragrances of Kate Middleton, Grace Kelly, and More</p></td>
              <td data-label="Publication" class="publication"><p>Brit + Co</p></td>
              <td data-label="Published" class="published"><p>8/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.brit.co/royal-fragrances-kate-middleton-grace-kelly/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Parfums de Marly Plots New Markets</p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/beauty-features/parfums-de-marly-refreshes-retail-units-plots-new-markets-10942588/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>

            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>These Are the 6 Trendiest Fragrance Notes For Summer 2017</p></td>
              <td data-label="Publication" class="publication"><p>Popsugar</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.popsugar.com/beauty/Summer-Fragrance-Trends-2017-43604276" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <!-- <tr class="responsive-table-row animationFadeIn">
              <td data-label="Publication" class="publication"><p>Popsugar</p></td>
              <td data-label="Article" class="article"><p>These Are the 6 Trendiest Fragrance Notes For Summer 2017</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.popsugar.com/beauty/Summer-Fragrance-Trends-2017-43604276" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
                <a href="https://cdn.shopify.com/s/files/1/1765/8667/files/WWD_Starck_8.17.16.pdf?346547107269444252" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                <a href="https://cdn.shopify.com/s/files/1/1765/8667/files/Starck--Elle-decor--Dec-2016.jpg?1238046478567989919" data-lightbox="example-set" data-title="Text"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                <div>
                  <a href="https://cdn.shopify.com/s/files/1/1765/8667/files/Starck--Elle-decor--Dec-2016.jpg?1238046478567989919" data-lightbox="example-set" data-title="Text"></a>
                </div>
              </td>
            </tr> -->
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>9 Millennial Pink Beauty Products That Will Turn Your Medicine Cabinet Into An Instagram Moment</p></td>
              <td data-label="Publication" class="publication"><p>Bustle</p></td>
              <td data-label="Published" class="published"><p>7/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.bustle.com/p/9-millennial-pink-beauty-products-that-will-turn-your-medicine-cabinet-into-instagram-moment-69918"target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Sweet Scent of Success</p></td>
              <td data-label="Publication" class="publication"><p>Wag Mag</p></td>
              <td data-label="Published" class="published"><p>6/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wagmag.com/the-sweet-scent-of-success/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Mother's Day Gift Guide 2017</p></td>
              <td data-label="Publication" class="publication"><p>South Florida Luxury Guide</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="https://www.luxurydaily.com/laliques-latest-perfume-trio-inspired-by-heritage-crystal-making-process/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique's Latest Perfume Trio Inspired by Heritage, Crystal-making Process </p></td>
              <td data-label="Publication" class="publication"><p>Luxury Daily</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.luxurydaily.com/laliques-latest-perfume-trio-inspired-by-heritage-crystal-making-process/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Mon Premier Cristal - new perfumes</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2017/05/29/lalique-mon-premier-cristal-new-perfumes/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>New Fragrance Review: Parfums de Marly Delina (Quentin Bisch) 2017 + A Horse of A Different Color Draw</p></td>
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Published" class="published"><p>5/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/new-fragrance-review-parfums-de-marly-delina-quentin-bisch-2017-a-horse-of-a-different-color-draw/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Mod Selects</p></td>
              <td data-label="Publication" class="publication"><p>Hudson Mod</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="https://www.luxurydaily.com/laliques-latest-perfume-trio-inspired-by-heritage-crystal-making-process/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Scents of Style</p></td>
              <td data-label="Publication" class="publication"><p>Gotham/Michigan Ave/Vegas</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="https://www.luxurydaily.com/laliques-latest-perfume-trio-inspired-by-heritage-crystal-making-process/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Best Fragrances by Zodiac Sign</p></td>
              <td data-label="Publication" class="publication"><p>Teen Vogue Online</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.teenvogue.com/gallery/best-spring-fragrances-for-your-zodiac-sign#12" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Dear Rose Collection</p></td>
              <td data-label="Publication" class="publication"><p>Beauty & Wellbeing</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://beautyandwellbeing.com/beauty/interview-beauty/dear-rose-collection/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Unveils 2018 Seduction Perfume Bottle </p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/lalique-releases-limited-edition-seduction-perfume-bottle-10859921/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique's New Seduction Fragrance Bottle Costs $1800</p></td>
              <td data-label="Publication" class="publication"><p>Allure.com</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.allure.com/story/lalique-new-seduction-fragrance-costs-1800-dollars" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Parfums Trunk Show with Julie Carry</p></td>
              <td data-label="Publication" class="publication"><p>Gotham.com</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://gotham-magazine.com/Lalique-Parfums-Trunk-Show-with-Julie-Carry" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Six World Fragrances That Will Have You Dreaming about Travel</p></td>
              <td data-label="Publication" class="publication"><p>Global Gumshoe</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://globalgumshoe.com/six-world-fragrances-will-dreaming-travel/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>15 Luxurious Mother's Day Gifts for 2017</p></td>
              <td data-label="Publication" class="publication"><p>Allure</p></td>
              <td data-label="Published" class="published"><p>4/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.allure.com/gallery/luxe-mothers-day-gift-ideas" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Enlivened: The Latest from the Style Lounge</p></td>
              <td data-label="Publication" class="publication"><p>Lucire</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>An Ode to the Rose</p></td>
              <td data-label="Publication" class="publication"><p>Resident</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Fresh Finds</p></td>
              <td data-label="Publication" class="publication"><p>Quest</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Events: Lalique Parfums Trunk Show with Julie Carry </p></td>
              <td data-label="Publication" class="publication"><p>Miami Magazine</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Noir Terres Aromatiques Eau de Parfum</p></td>
              <td data-label="Publication" class="publication"><p>Total Beauty</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.totalbeauty.com/reviews/product/6629241/lalique-noir-terres-aromatiques-eau-de-parfum" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>LALIQUE PARFUMS TRUNK SHOW WITH A PERSONAL APPEARANCE BY JULIE CARRY, SENIOR BRAND MANAGER IN PARIS, FRANCE</p></td>
              <td data-label="Publication" class="publication"><p>The Paramus Post</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.paramuspost.com/article.php/20170322125533639" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>New Perfume Review Parfums de Marly Delina- Floriental Gourmand</p></td>
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/new-perfume-review-parfums-de-marly-delina-floriental-gourmand/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Andromeda by Tiziana Terenzi</p></td>
              <td data-label="Publication" class="publication"><p>HudsonMod</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://hudsonmod.com/andromeda-tiziana-terenzi/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>AMEinfo.com</p></td>
              <td data-label="Publication" class="publication"><p>AMEinfo.com</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://ameinfo.com/luxury-lifestyle/lifestyle/tiziana-terenzi-inheriting-niche-perfumery/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Tous Brought the Best Kind of Folly to Baselworld</p></td>
              <td data-label="Publication" class="publication"><p>JCK Online</p></td>
              <td data-label="Published" class="published"><p>3/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.jckonline.com/editorial-article/tous-brought-the-best-kind-of-folly-to-baselworld/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Parfums Trunk Show at Neiman Marcus </p></td>
              <td data-label="Publication" class="publication"><p>Boston Common</p></td>
              <td data-label="Published" class="published"><p>1/1/2017</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://luxatic.com/tom-fords-black-orchid-perfume-receives-a-special-lalique-touch/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Tom Ford’s Black Orchid Perfume Receives a Special Lalique Touch</p></td>
              <td data-label="Publication" class="publication"><p>Luxatic</p></td>
              <td data-label="Published" class="published"><p>1/1/2017</p></td>
              <td data-label="Media" class="media">
                <a href="http://luxatic.com/tom-fords-black-orchid-perfume-receives-a-special-lalique-touch/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>STYLE SHEET</p></td>
              <td data-label="Publication" class="publication"><p>ELLE DECOR</p></td>
              <td data-label="Published" class="published"><p>12/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2052" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>BEAUTY BODY & SPIRIT</p></td>
              <td data-label="Publication" class="publication"><p>ORANGE APPEAL</p></td>
              <td data-label="Published" class="published"><p>12/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2050" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>BEAUTY RIGHT NOW</p></td>
              <td data-label="Publication" class="publication"><p>SHAPE MAGAZINE</p></td>
              <td data-label="Published" class="published"><p>12/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2053" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE MAGIC OF SCENT AND MEMORY</p></td>
              <td data-label="Publication" class="publication"><p>DR. OZ THE GOOD LIFE</p></td>
              <td data-label="Published" class="published"><p>12/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2051" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Top 3 Holiday Party Fragrances Chosen by Stephanie + PdM Layton Full Bottle GIVEAWAY </p></td>
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Published" class="published"><p>12/16/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=oJFWMEI1PVY" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Parfums de Marly Habdan REVIEW with Tiff Benson & Redolessence + GIVEAWAY</p></td>
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Published" class="published"><p>12/16/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=uiZT8IPjFYc" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>New Perfume Review Parfums de Marly Layton- Handicapping the Field</p></td>
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/new-perfume-review-parfums-de-marly-layton-handicapping-the-field/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Colognoisseur 2016 Year-End Review Part 3- The Top 25 New Perfumes of the Year</p></td>
              <td data-label="Publication" class="publication"><p>Colognoisseur</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://colognoisseur.com/colognoisseur-2016-year-end-review-part-3-the-top-25-new-perfumes-of-the-year/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>New Fragrance Review: Parfums de Marly Layton (Hamid Merati-Kashani)+The Horses of The Sun Draw</p></td>
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/new-fragrance-review-parfums-de-marly-layton-hamid-merati-kashani-the-horses-of-the-sun-draw/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Parfums De Marly LAYTON Review + Full Bottle GIVEAWAY</p></td>
              <td data-label="Publication" class="publication"><p>Lookfeelsmellgreat</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.youtube.com/watch?v=HqpnIsbw1nI" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Top 10 Luxury Holiday Gifts for Him</p></td>
              <td data-label="Publication" class="publication"><p>The Street</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.thestreet.com/slideshow/13934307/2/top-10-luxury-holiday-gifts-for-him.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Favorite Perfume Releases of 2016</p></td>
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://carlosbfl319.blogspot.com/2016/12/my-favorite-perfume-releases-of-2016.html?m=1" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PERFUME: THE BEST OF 2016</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/12/30/perfume-the-best-of-2016/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PERFUMES QUE SON POEMAS</p></td>
              <td data-label="Publication" class="publication"><p>Vogue.ES</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.vogue.es/belleza/articulos/starck-perfumes-paris/27433" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>BEST PERFUMES OF 2016 ACCORDING TO READERS & EDITORS</p></td>
              <td data-label="Publication" class="publication"><p>Fragrantica.com</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.fragrantica.com/news/Best-Perfumes-of-2016-According-to-Readers-Editors-8864.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Fragrances Everyone - Even Your Pickiest Friend - Wants This Year</p></td>
              <td data-label="Publication" class="publication"><p>Refinery29</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.refinery29.com/new-perfumes-gift-ideas-unique-fragrances" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>UNVEILING STARCK'S PEAU D'AILLEURS</p></td>
              <td data-label="Publication" class="publication"><p>Fragrantica.com</p></td>
              <td data-label="Published" class="published"><p>12/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.fragrantica.com/news/Unveiling-Starck-s-Peau-d-Ailleurs-8817.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>SPIN THE BOTTLE</p></td>
              <td data-label="Publication" class="publication"><p>SELF</p></td>
              <td data-label="Published" class="published"><p>11/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2044" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>STARCK PARIS PEAU DE PIERRE ~ FRAGRANCE REVIEW</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>11/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/11/18/starck-paris-peau-de-pierre-fragrance-review/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>STARCK PERFUME - PEAU D'AILLEURS, PEAU DE SOIE & PEAU DE PIERRE</p></td>
              <td data-label="Publication" class="publication"><p>Perfume Posse</p></td>
              <td data-label="Published" class="published"><p>11/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://perfumeposse.com/2016/11/08/starck-perfume-peau-dailleurs-peau-de-soie-peau-de-pierre/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>5 perfumes: vetiver fragrances for fall</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/10/11/5-perfumes-vetiver-fragrances-for-fall/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Orlov creates the scent of a diamond</p></td>
              <td data-label="Publication" class="publication"><p>Cosmetics Business</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.cosmeticsbusiness.com/news/article_page/Orlov_creates_the_scent_of_a_diamond/122373" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Tour of Parfums de Marly Boutique NYC with Donna + Herod Full Bottle GIVEAWAY</p></td>
              <td data-label="Publication" class="publication"><p>Brooklyn Fragrance Lover</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="//www.youtube.com/watch?v=zJI0KrSyle0" data-lity><i class="fa fa-video-camera" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Dedicated to Equine History: Getting to Know Parfums de Marly</p></td>
              <td data-label="Publication" class="publication"><p>Fragrantica.com</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.fragrantica.com/news/Dedicated-to-Equine-History-Getting-to-Know-Parfums-de-Marly-8564.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Layton by Parfums de Marly</p></td>
              <td data-label="Publication" class="publication"><p>HudsonMod.com</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://hudsonmod.com/layton-by-parfums-de-marly/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK LAUNCHES 'PEAU' FRAGRANCES COLLECTION FOR STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>Design Limited Edition</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://designlimitededition.com/philippe-starck-launches-peau-fragrances-collection-starck-paris/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>


            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK UNVEILS 'PEAU' FRAGRANCES COLLECTION FOR STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>designboom</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.designboom.com/design/philippe-starck-paris-perfume-collection-peau-10-26-2016/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK UNBOUND</p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/philippe-starck-unbound-10691721/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK MADE A FRAGRANCE FOR NON-BINARY PEOPLE - READ - I-D</p></td>
              <td data-label="Publication" class="publication"><p>Vice</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://i-d.vice.com/en_us/article/philippe-starck-made-a-fragrance-for-non-binary-people" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK DESIGNS SCENT FOR TRANSGENDER PEOPLE</p></td>
              <td data-label="Publication" class="publication"><p>Page Six.com</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://pagesix.com/2016/10/24/philippe-starck-designs-scent-for-transgender-people/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>GETTING DIRTY: 11 SCENTS HEAVY ON THE EARTH NOTES</p></td>
              <td data-label="Publication" class="publication"><p>W Magazine</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wmagazine.com/story/getting-dirty-11-scents-heavy-on-the-earth-notes" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>BUNCH O' LIMITED EDITION COLLECTOR BOTTLES 2016, PART 15</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>10/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/10/21/bunch-o-limited-edition-collector-bottles-2016-part-15/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>LIBRE DE ETIQUETAS</p></td>
              <td data-label="Publication" class="publication"><p>IMAGEN (PUERTO RICO)</p></td>
              <td data-label="Published" class="published"><p>10/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2047" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Features Oajan in Essentials story</p></td>
              <td data-label="Publication" class="publication"><p>Downtown Magazine </p></td>
              <td data-label="Published" class="published"><p>10/01/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2047" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>OLOROSA ARMONÍA</p></td>
              <td data-label="Publication" class="publication"><p>EL NUEVO DIA</p></td>
              <td data-label="Published" class="published"><p>10/16/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2047" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE MAN WHO KNOWS NEW YORK</p></td>
              <td data-label="Publication" class="publication"><p>NEW YORK POST</p></td>
              <td data-label="Published" class="published"><p>10/25/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2043" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE NEWCOMER: PHILIPPE STARCK</p></td>
              <td data-label="Publication" class="publication"><p>VOGUE</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.perfumedeals.com/blog/lalique-linsoumis/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>EN LA PIEL DE STARCK</p></td>
              <td data-label="Publication" class="publication"><p>VOGUE (ESPANOL)</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://images.burrellesluce.com/image/18580A/18580A_2057" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique L’Insoumis</p></td>
              <td data-label="Publication" class="publication"><p>Perfume Talking</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.perfumedeals.com/blog/lalique-linsoumis/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Diamonds are a Boy’s Best Friend: Orlov Paris Flame of Gold Perfume Review</p></td>
              <td data-label="Publication" class="publication"><p>The Candy Perfume Boy</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://thecandyperfumeboy.com/2016/09/22/diamonds-are-a-boys-best-friend-orlov-paris-flame-of-gold-perfume-review/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK UNVEILS THE FIRST FRAGRANCES COLLECTION OF STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>wanews</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://worldarchitecture.org/articles-links/cgczz/philippe_starck_unveils_the_first_fragrances_collection_of_starck_paris.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE BEST NEW FRAGRANCES FOR FALL: HERMES, YSL, CHANEL, AND MORE</p></td>
              <td data-label="Publication" class="publication"><p>Vogue</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.vogue.com/13484896/best-new-fall-perfumes-fragrance-chanel-hermes-ysl-shopping-guide/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Philippe Starck Launches a Trio of Perfumes</p></td>
              <td data-label="Publication" class="publication"><p>Architectural Digest</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.architecturaldigest.in/content/philippe-starck-launches-a-trio-of-perfumes/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>BEST OF SHOW: TRANOI 2016 PARFUMS AT THE TUNNEL NEW YORK + NICHE AND ARTISTIC FRAGRANCES DRAW</p></td>
              <td data-label="Publication" class="publication"><p>Ca Fleure Bon</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.cafleurebon.com/best-of-show-tranoi-2016-parfums-at-the-tunnel-new-york-niche-and-artistic-fragrances-draw/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK LAUNCHES PERFUME COLLECTION</p></td>
              <td data-label="Publication" class="publication"><p>The Models Blog</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.modelsblog.info/2016/09/16/philippe-starck-launches-perfume-collection/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK UNVEILS THE FIRST FRAGRANCES COLLECTION OF STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>Polkadot</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.polkadot.it/2016/09/16/philippe-starck-unveils-the-first-fragrances-collection-of-starck-paris" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE BEST FALL BEAUTY GIFT BAGS</p></td>
              <td data-label="Publication" class="publication"><p>Madison Avenue Spy</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://madisonavespy.blogspot.com/2016/09/the-best-fall-beauty-gift-bags.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK PRESENTS STARCK PARIS FRAGRANCES: PEAU DE SOIE, PEAU DE PIERRE AND PEAU D'AILLEURS</p></td>
              <td data-label="Publication" class="publication"><p>Fragrantica.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.fragrantica.com/news/Philippe-Starck-Presents-Starck-Paris-Fragrances-Peau-de-Soie-Peau-de-Pierre-and-Peau-d-Ailleurs-8448.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>MAKING SCENTS: PHILIPPE STARCK DEBUTS A TRIO OF FRAGRANCES UNDER HIS OWN LABEL, STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>Wallpaper.com</p></td>
              <td data-label="Published" class="published"><p>9/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.wallpaper.com/lifestyle/philippe-starck-reveals-three-new-fragrances-starck-paris-for-perfumes-y-diseno" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK TO LAUNCH PERFUME COLLECTION</p></td>
              <td data-label="Publication" class="publication"><p>Design - Dezeen</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.dezeen.com/2016/08/22/philippe-starck-paris-perfume-fragrance-collection/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PARFUMS STARCK PARIS - ARTISANAL FRAGRANCE LIMITED EDITION RANGE FROM PHILIPPE STARCK</p></td>
              <td data-label="Publication" class="publication"><p>2Luxury2.com</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.2luxury2.com/parfums-starck-paris-artisanal-fragrance-limited-edition-range-from-philippe-starck/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>STARCK PARIS PEAU DE SOIE, PEAU D'AILLEURS & PEAU DE PIERRE ~ NEW FRAGRANCES</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/08/17/starck-paris-peau-de-soie-peau-dailleurs-peau-de-pierre-new-fragrances/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK DEBUTS FRAGRANCE LINE</p></td>
              <td data-label="Publication" class="publication"><p>eXtravaganzi</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.extravaganzi.com/philippe-starck-debuts-fragrance-line/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK'S LATEST DESIGN IS A FRAGRANCE LINE</p></td>
              <td data-label="Publication" class="publication"><p>DA MAN Magazine - Make Your Own Style!</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://daman.co.id/philippe-starcks-latest-design-is-a-fragrance-line/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>STARCK FRAGRANCES COMING TO BERGDORF GOODMAN</p></td>
              <td data-label="Publication" class="publication"><p>GCI-Global Cosmetics Industry</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.gcimagazine.com/marketstrends/segments/fragrance/Starck-Fragrances-Coming-to-Bergdorf-Goodman-390467051.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK MAKES FRAGRANCE DEBUT WITH PARFUMS STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>Women's Wear Daily</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/philippe-starck-fragrance-debut-with-parfums-starck-paris-10507742/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK ENTERS FRAGRANCES WITH THE DEBUT OF A PERFUME TRIO</p></td>
              <td data-label="Publication" class="publication"><p>Yahoo! News</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.yahoo.com/news/philippe-starck-enters-fragrances-debut-perfume-trio-112350422.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>FLUID PERFUME BRANDING - THESE FRAGRANCE BOTTLES ARE FLUID THROUGH THEIR BRANDING (TRENDHUNTER.COM)</p></td>
              <td data-label="Publication" class="publication"><p>Trendhuntercom Style And Fashion Trends</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.trendhunter.com/trends/fragrance-bottle" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK TO DEBUT FRAGRANCE LINE</p></td>
              <td data-label="Publication" class="publication"><p>Hypebeast</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://hypebeast.com/2016/8/philippe-starck-fragrance-debut" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK TO MAKE HIS FRAGRANCE DEBUT</p></td>
              <td data-label="Publication" class="publication"><p>Women's Wear Daily</p></td>
              <td data-label="Published" class="published"><p>8/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/philippe-starck-starck-paris-launch-fragrance-collection-10506036/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>PHILIPPE STARCK MAKES FRAGRANCE DEBUT WITH PARFUMS STARCK PARIS</p></td>
              <td data-label="Publication" class="publication"><p>WWD DIGITAL DAILY</p></td>
              <td data-label="Published" class="published"><p>8/17/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/philippe-starck-starck-paris-launch-fragrance-collection-10506036/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>THE ESSENTIALIST</p></td>
              <td data-label="Publication" class="publication"><p>WWD MAGAZINE</p></td>
              <td data-label="Published" class="published"><p>8/17/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/philippe-starck-starck-paris-launch-fragrance-collection-10506036/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Darcy featured in scents of summer story</p></td>
              <td data-label="Publication" class="publication"><p>NY Resident</p></td>
              <td data-label="Published" class="published"><p>7/1/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="https://www.advicesisters.com/orlov-paris-sea-light/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Orlov Paris Sea of Light is a Summertime or Any Time, Delight</p></td>
              <td data-label="Publication" class="publication"><p>Advice Sisters</p></td>
              <td data-label="Published" class="published"><p>7/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.advicesisters.com/orlov-paris-sea-light/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique L’Insoumis ~ new fragrance</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>6/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/06/22/lalique-linsoumis-new-fragrance/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique L’Insoumis</p></td>
              <td data-label="Publication" class="publication"><p>Wonderland</p></td>
              <td data-label="Published" class="published"><p>6/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.wonderlandmagazine.com/2016/06/24/lalique-linsoumis/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Opening of NYC Boutique and Athalia</p></td>
              <td data-label="Publication" class="publication"><p>In New York</p></td>
              <td data-label="Published" class="published"><p>5/1/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.beautynewsnyc.com/fragrance/the-fragrance-gift-she-really-wants/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Mention of the brand in Father's Day story</p></td>
              <td data-label="Publication" class="publication"><p>Modern Luxury Houston</p></td>
              <td data-label="Published" class="published"><p>5/1/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.beautynewsnyc.com/fragrance/the-fragrance-gift-she-really-wants/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>The Fragrance Gift She Really Wants</p></td>
              <td data-label="Publication" class="publication"><p>Beauty News NYC</p></td>
              <td data-label="Published" class="published"><p>5/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.beautynewsnyc.com/fragrance/the-fragrance-gift-she-really-wants/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Magpie Goes To Esxence: Part 2</p></td>
              <td data-label="Publication" class="publication"><p>The Perfume Magpie</p></td>
              <td data-label="Published" class="published"><p>5/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://theperfumemagpie.com/?s=orlov&submit=Search" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Opening of NYC Boutique</p></td>
              <td data-label="Publication" class="publication"><p>Crains New York Business</p></td>
              <td data-label="Published" class="published"><p>4/1/2016</p></td>
              <!-- <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/04/27/lalique-reve-dinfini-new-perfume/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td> -->
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Reve d'Infini</p></td>
              <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>4/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/04/27/lalique-reve-dinfini-new-perfume/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Reve d’Infini ~ new perfume</p></td>
                <td data-label="Publication" class="publication"><p>Now Smell This</p></td>
              <td data-label="Published" class="published"><p>4/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.nstperfume.com/2016/04/27/lalique-reve-dinfini-new-perfume/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Orlov Paris Star of The Season & Cross of Asia</p></td>
              <td data-label="Publication" class="publication"><p>Kafkaesque</p></td>
              <td data-label="Published" class="published"><p>4/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.kafkaesqueblog.com/2016/04/19/orlov-paris-star-of-the-season-cross-of-asia/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lululemon Lab | Moynat flagship | Equinox gyms</p></td>
              <td data-label="Publication" class="publication"><p>Crain's New York </p></td>
              <td data-label="Published" class="published"><p>4/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.crainsnewyork.com/article/20160417/PROFESSIONAL_SERVICES/160419899/lululemon-lab-moynat-flagship-equinox-gyms" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Fragrant flames can run up to $500 per candle</p></td>
              <td data-label="Publication" class="publication"><p>TheStar.com</p></td>
              <td data-label="Published" class="published"><p>3/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://www.thestar.com/life/2016/03/04/luxury-candles-popular-among-craftsmanship-conscious-consumers.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Roundup: A Spring Fragrance Bouquet</p></td>
              <td data-label="Publication" class="publication"><p>Beauty News NYC</p></td>
              <td data-label="Published" class="published"><p>3/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.beautynewsnyc.com/fragrance/roundup-a-spring-fragrance-bouquet/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>On wedding day perfume and the elegance of Lalique Rêve d'Infini</p></td>
              <td data-label="Publication" class="publication"><p>Style Seeking Zurich</p></td>
              <td data-label="Published" class="published"><p>3/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.styleseekingzurich.com/2016/03/on-wedding-day-perfume-and-elegance-of.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Parfums de Marly's First NYC Store Is a Nod to Its Rich French History</p></td>
              <td data-label="Publication" class="publication"><p>Racked.com</p></td>
              <td data-label="Published" class="published"><p>3/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="https://ny.racked.com/2016/3/24/11298300/parfums-de-marly-nyc" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Lalique Reve d’Infini ~ new perfume</p></td>
              <td data-label="Publication" class="publication"><p>Mimi Frou Frou</p></td>
              <td data-label="Published" class="published"><p>2/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://www.mimifroufrou.com/scentedsalamander/2016/02/lalique_reve_d_infini.html" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
            <tr class="responsive-table-row animationFadeIn">
              <td data-label="Article" class="article"><p>Chantal and Alexandra Roos Bringing Dear Rose to America</p></td>
              <td data-label="Publication" class="publication"><p>WWD</p></td>
              <td data-label="Published" class="published"><p>1/1/2016</p></td>
              <td data-label="Media" class="media">
                <a href="http://wwd.com/beauty-industry-news/fragrance/chantal-and-alexandra-roos-bringing-dear-rose-to-america-10760282/" target="_blank"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </thead>
      </table>
    </section>
  </div> <!-- End of .archive-list -->
</div><!-- End of .pressPage -->
