<nav class="breadcrumbs-nav">
  <ul class="animationFadeIn">
    <li><p>Home Fragrances</p></li>
  </ul>
</nav>

<div class="page-width collection-larger-btn">
    <ul>
      <li class="animationFadeIn">
        <a href="/collections/christian-siriano-home-fragrances" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/christian_seriano-_347x449.jpg?4614109167328958451" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Christian Siriano</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
      <!-- <li class="animationFadeIn">
        <a href="/collections/parfums-de-marly-home-fragrances-collection" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/Marly-_347x449.jpg?4614109167328958451" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Parfums de marly</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
        		<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li> -->
      <li class="animationFadeIn">
        <a href="/pages/tiziana-terenzi-home-fragrances" class="tilter tilter--2">
        	<figure class="tilter__figure">
        		<img class="tilter__image" src="https://cdn.shopify.com/s/files/1/1765/8667/files/terenzi-_347x449.jpg?4614109167328958451" alt="" />
        		<div class="tilter__deco tilter__deco--shine"><div></div></div>
        		<div class="tilter__deco tilter__deco--overlay"></div>
        		<figcaption class="tilter__caption">
        			<h3 class="tilter__title">Tiziana Terenzi</h3>
        			<p class="tilter__description">Collection</p>
        		</figcaption>
            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
        			<path d="M45.5,20.5h250v375h-290V20.5z" />
        		</svg>
        	</figure>
        </a>
      </li>
   </ul>
</div>
