{% if template.name == 'index' %}
<!-- <div class="intro-video-valentine">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
        <source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4">
    </video>
    <div class="slider">
        <div class="items item-1">
            <h1>Title</h1>
            <a href="#">Discover </a>
        </div>
        <div class="items item-2">
            <h1>Slide Title 2</h1>
            <p>Slide Description 2</p>
        </div>
        <div class="items item-3">
            <h1>Slide Title 3</h1>
            <p>Slide Description 3</p>
        </div>
    </div>
</section>
</div> -->




<!-- <div class="intro-slick">
  <section>
    <video autoplay nocontrols loop><source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4"></video>
    <div class="description-box">
      <h1>Title</h1>
      <a href="#">Discover </a>
    </div>
  </section>

  <section>
    <div><img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt=""></div>
    <div class="description-box">
      <h1>Title</h1>
      <a href="#">Discover </a>
    </div>
  </section>
</div>
 -->



<div class="nothing">
<div class="intro-slick">
  <!-- Beginning of .intro -->
  <section>
    <video autoplay nocontrols loop><source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4"></video>
    <div class="center-video-text">
     <div class="content">
       <p>Each guess comes a list of questions of how to get around NYC.</p>
        <nav><ul><li><a href="#">Start Exploring</a></li></ul></nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>Each guess comes a list of questions of how to get around NYC.</p>
        <nav>
          <ul>
            <li><a href="#">Start Exploring</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>Each guess comes a list of questions of how to get around NYC.</p>
        <nav>
          <ul>
            <li><a href="#">Start Exploring</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>Each guess comes a list of questions of how to get around NYC.</p>
        <nav>
          <ul>
            <li><a href="#">Start Exploring</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>
</div>
</div>
<!-- End of .home-page -->




{% endif %}
