{% if template.name == 'index' %}
<style media="screen">
video {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.slider {
  position: relative;
  background: rgba(0,0,0,0.5);
}
.slider h2,
.slider a {
  margin: 0;
}
.slider-wrapper,
.slider,
.items {
  max-height: 600px;
  color: #fff;
}
.items {padding: 15em;}

.intro-video {padding: 20px;}

.text-desc {
  min-height: 200px;
  background: #fff;
  text-align: center;
}
</style>


<div class="intro-video">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
        <source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4">
    </video>
    <div class="slider">
        <div class="items item-1">
            <h1>Title</h1>
            <a href="#">Discover </a>
        </div>
        <div class="items item-2">
            <h1>Slide Title 2</h1>
            <p>Slide Description 2</p>
        </div>
        <div class="items item-3">
            <h1>Slide Title 3</h1>
            <p>Slide Description 3</p>
        </div>
    </div>
</section>
</div>
{% endif %}
