{% if template.name == 'index' %}
<div class="intro-video">
    <video autoplay loop muted playsinline poster="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom.jpg">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_In_bloom.webm"  width="100%" height="auto" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom-_render_for_webiste_-_19mb.mp4"  width="100%" height="auto" type="video/mp4">
      <p>This browser does not support the video element.</p>
    </video>
    <h3>Life is the flower for which love is the honey</h3>
    <a href="/pages/christian-siriano-silhouette-in-bloom-fragrances">Discover</a>
</div>
{% endif %}
