{% if template.name == 'index' %}
<div class="intro-video">
    <video autoplay loop muted>
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_In_bloom.webm"  width="100%" height="auto" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom-_render_for_webiste_-_19mb.mp4"  width="100%" height="auto" type="video/mp4">
      <p>This browser does not support the video element.</p>
    </video>
    <h3>Life is the flower for which love is the honey</h3>
    <a href="#">Discover</a>
</div>



<!-- <div class="intro-video-valentine">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_In_bloom.webm" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom-_render_for_webiste_-_19mb.mp4" type="video/mp4">
      <p>This browser does not support the video element.</p>
    </video>
    <div class="slider">
        <div class="items">
            <a href="#">Life is the flower for which love is the honey</a>
        </div>
    </div>
  </section>
</div> -->

<!-- <div class="intro-slick">
  <section>
    <video autoplay nocontrols loop><source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4"></video>
    <div class="description-box">
      <h1>Title</h1>
      <a href="#">Discover </a>
    </div>
  </section>

  <section>
    <div><img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt=""></div>
    <div class="description-box">
      <h1>Title</h1>
      <a href="#">Discover </a>
    </div>
  </section>
</div>-->
<!--
</section>

<div class="nothing">
<div class="intro-slick">
  <section>
    <video autoplay nocontrols loop>
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_In_bloom.webm" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/In_bloom-_render_for_webiste_-_19mb.mp4" type="video/mp4">
      <p>This browser does not support the video element.</p>
    </video>
    <div class="center-video-text">
     <div class="content">
       <p>Text Here</p>
        <nav><ul><li><a href="#">CTA</a></li></ul></nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>You Are Never Fully Dressed Without Perfume!</p>
        <nav>
          <ul>
            <li><a href="#">CTA</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>Your Home is Not a Home Without Home Fragrances</p>
        <nav>
          <ul>
            <li><a href="#">CTA</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>

  <section class="intro">
    <div class="center">
     <div class="content">
       <p>Find Your Favorite Scents</p>
        <nav>
          <ul>
            <li><a href="#">CTA</a></li>
          </ul>
        </nav>
     </div>
    </div>
  </section>
</div>
</div> -->


<!-- End of .home-page -->
{% endif %}
