{% if template.name == 'index' %}
<!-- <div class="latest-product grid">
  <section class="grid__item animationFadeInLeft">
    <div class="title mobile-title" >
      <h2>Delina</h2>
      <p>by PARFUMS de MARLY</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/delina.gif?6092166089872835513" alt="">
  </section>
  <section class="grid__item">
    <div class="title desktop-title animationFadeIn">
      <h2>Delina</h2>
      <p>by PARFUMS de MARLY</p>
    </div>
    <div class="description animationFadeIn"><p>Pretty, Pink and Purely Feminine. Delina Eau de Parfum will warm your heart and make you feel like royalty. A floral explosion of Turkish Rose, Lily of the Valley and Peony creates a girlish feminine fragrance accented with bright and tangy notes of Lychee, Rhubarb and Bergamot. Vanilla, musk and cashmeran will wrap you in a feeling of warmth and sensuality.</p></div>
    <a href="/products/delina-by-parfums-de-marly" class="btn-gradient animationFadeIn">DISCOVER DELINA</a>
  </section>
</div> -->

<!-- <div class="full-video-background">
  <div id="video-wrap" class="video-wrap">
    <video preload="metadata" autoplay loop id="my-video">
      <source src="https://cdn.shopify.com/s/files/1/2191/4809/files/videoBackground.mp4?6470085084977928855" type="video/mp4">
      <source src="1.ogg" type="video/ogg">
    </video>
  </div>
</div> -->

<div class="section-DiscoverTizianaTerenzi">
  <section class="upperIMG">
    <nav>
      <ul>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
      </ul>
    </nav>
  </section>
  <section class="text-n-cta">
    <div>
      <p>The creation of perfume essences comes from the never-ending quest to capture emotions. These perfumes and candles embody one’s powerful desire to hold onto a beautiful moment. The perfume uses its full body to evoke the experience of being by the fire: a moment which represents a life lived to the fullest, squeezing the last drop, living in the moment and sharing an intimate moment with the rest of the cosmos.</p>
      <a href="#">Discover Tiziana Terenzi</a>
    </div>
  </section>
  <section class="lowerIMG">
    <nav>
      <ul>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
        <li><img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Delox_background.png?8695222656370640063" alt=""></li>
      </ul>
    </nav>
  </section>
</div>



{% endif %}
