{% if template.name == 'index' %}
<div class="latest-product grid">
  <section class="grid__item medium-up--one-half">
    <img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Delina-Gif-1.jpg?2782225890531274697" alt="">
  </section>
  <section class="grid__item medium-up--one-half">
    <div class="title">
      <h2>Delina</h2>
      <p>by PARFUMS de MARLY</p>
    </div>
    <div class="description"><p>Pretty, Pink and Purely Feminine. Delina Eau de Parfum will warm your heart and make you feel like royalty. A floral explosion of Turkish Rose, Lily of the Valley and Peony creates a girlish feminine fragrance accented with bright and tangy notes of Lychee, Rhubarb and Bergamot. Vanilla, musk and cashmeran will wrap you in a feeling of warmth and sensuality.</p></div>
    <a href="/products/delina-by-parfums-de-marly" class="btn-gradient">DISCOVER DELINA</a>
  </section>
</div>
{% endif %}
