{% if template.name == 'index' %}

<style media="screen">
.whateverrrr .slick-slide img {width: 80px;}
</style>

	<div class="whateverrrr page-width">
	{%- assign collection = collections.new-arrivals -%}
		{% for product in collection.products limit: 12 %}
		  <a href="{{ product.url | within: collection }}">
				{{ product.featured_image.src | img_url: '80x80' | img_tag: product.title }}
				<p>{{ product.title }}</p>
		  </a>
		{% endfor %}
	</div>

{% endif %}
