{% if template.name == 'index' %}
<div class="product-circle-buttons page-width">
  <section><p>Luxury is a mood best enhanced by a selection of the finest in fragrance, candles, skincare, bath & body, and Haircare products.</p></section>
  <section>
    <nav>
      <ul>
        <li class="animated bounce">
          <a href="pages/fragrance-finder">
            <img src="https://cdn.shopify.com/s/files/1/2191/4809/files/FragranceFinder_185x185_d1b372bc-a335-4319-bdfa-17a7cbac7e54.png?13970401064797751709" alt="">
            <h3>Fragrance Finder</h3>
            <p>Find the perfect scent to suit every taste with our expert guide to the fragrance families.</p>
          </a>
        </li>
        <li>
          <a href="pages/home-fragrances">
            <img src="https://cdn.shopify.com/s/files/1/2191/4809/files/HomeFragrances_185x185_b5c14691-a1b9-4bcc-ac2c-8e8ed61650e1.png?9512699656170122691" alt="">
            <h3>Home Fragrances</h3>
            <p>Create an atmosphere for every occasion with our elegant, stylish and long lasting candles.</p>
          </a>
        </li>
        <li>
          <a href="pages/skincare">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/skincare_circular_photo_for_homepage.jpg?17979816190944929943" alt="">
            <h3>Skincare</h3>
            <p>Achieve a radiant, youthful complexion with cleansers, moisturizers, and scrubs made with the highest quality ingredients.</p>
          </a>
        </li>
        <li>
          <a href="pages/bath-and-body">
            <img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Bath_Body_185x185_460215ab-3c50-4544-a4d0-d1be67469738.png?4212393683032353737" alt="">
            <h3>Bath & Body</h3>
            <p>Our luxurious soaps, shower gels and moisturizers will pamper you while indulging your senses.</p>
          </a>
        </li>
        <li>
          <a href="pages/haircare">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/hair_care_product_photo-_Living_proof.jpg?15593675199240333427" alt="">
            <h3>Haircare</h3>
            <p>Reveal beautiful, healthy-looking hair with our full line of shampoos, conditioners, and masks designed for all hair-types.</p>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</div>
{% endif %}
