{% if template.name == 'index' %}
<style>
.product-circle-buttons{text-align: center;}

.product-circle-buttons section:nth-child(1) p {
	font-size: 1.7em;
	margin-bottom: 80px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.7em;
	font-weight: bold;
	margin-bottom: 80px;
}
.product-circle-buttons nav ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
	margin-bottom: 150px;
}
.product-circle-buttons nav ul li{
  list-style: none;
  width: 250px;
}
.product-circle-buttons nav ul li a{text-decoration: none;}

.product-circle-buttons nav ul li a img{
	border-radius: 90px;
	width: 185px;
}

.product-circle-buttons nav ul li a h3 {
	text-transform: uppercase;
	color: #333;
	font-weight: normal;
	letter-spacing: 2px;
}
.product-circle-buttons nav ul li a h3::after {
	content: "";
	background: #333;
	width: 70px;
	height: 3px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.product-circle-buttons nav ul li a p {
	color: #666;
	line-height: 23px;
	letter-spacing: 1px;
}
</style>

<div class="product-circle-buttons page-width">
  <section><p>Luxury is a mood best enhanced by a selection of the finest in fragrance, candles, skincare, and bath & body products.</p></section>
  <section>
    <nav>
      <ul>
        <li>
          <a href="pages/fragrance-finder">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/t/2/assets/banner_3.jpg?2018854978946188238" alt="">
            <h3>Fragrance Finder</h3>
            <p>Find the perfect scent to suit every taste with our expert guide to the fragrance families.</p>
          </a>
        </li>
        <li>
          <a href="pages/home-fragrances">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/t/2/assets/banner_2.jpg?2018854978946188238" alt="">
            <h3>Home Fragrances</h3>
            <p>Create an atmosphere for every occasion with our elegant, stylish and long lasting candles.</p>
          </a>
        </li>
        <li>
          <a href="pages/skincare">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/t/2/assets/banner_1.jpg?2018854978946188238" alt="">
            <h3>Skincare</h3>
            <p>Achieve a radiant, youthful complexion with cleansers, moisturizers, and scrubs made with the highest quality ingredients.</p>
          </a>
        </li>
        <li>
          <a href="pages/bath-and-body">
            <img src="https://cdn.shopify.com/s/files/1/1765/8667/t/2/assets/banner_1.jpg?2018854978946188238" alt="">
            <h3>Bath & Body</h3>
            <p>Our luxurious soaps, shower gels and moisturizers will pamper you while indulging your senses.</p>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</div>
{% endif %}
