<!-- Ajax API -->
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<style type="text/css">
.rv__product_img {
	width: 110px;
}
</style>

<div id="rv__recent_products" class="rv__grid page-width">

	<div class="rv__row">
		<h2 class="section-header__title">Recently Viewed Items</h2>
	</div>

  <div class="rv__row grid grid--uniform grid--view-items"></div>
</div>
{% comment %}
Recently Viewed Labs Snippet, included on the products page.
{% endcomment %}
<script type="text/javascript">

if(jQuery == undefined){
	$("head").append($("<script />",{src: "//code.jquery.com/jquery-2.1.4.min.js"}));
}
if(jQuery.cookie == undefined){
	$("head").append($("<script />",{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"}));
}
var pHandle
{% if product %}
pHandle = "{{product.handle}}";
{% endif %}
var pLimit   = 4;
pLimit       = 8;
var pPointer = 0;
jQuery(function($){
	// Gives the assets enough time to load.
	setTimeout(function(){
		if(jQuery.cookie('rv__recent_products') == undefined){
			if(pHandle){
				jQuery.cookie('rv__recent_products', "{{product.handle}}", {expires: 365, path: "/"});
			}
		}
	var currentProducts = [];
	if(jQuery.cookie('rv__recent_products') != undefined){
		currentProducts = jQuery.cookie('rv__recent_products').split(",");
	}
	if(currentProducts.length > 0){$('#_rvp').show()}
	// set the current product
	// If its not already listed
	if(currentProducts.indexOf(pHandle) == -1){
		// If we are at the limit move it to the front
		if(currentProducts.length >= pLimit){
			currentProducts.unshift; // remove very last item
		}
		currentProducts.push(pHandle); // add this one
	}
	// prevent cookie override.
	if(currentProducts.length > 0){
		jQuery.cookie('rv__recent_products', currentProducts.join(","), {expires: 365, path: "/"});
	}

	$.each(currentProducts.reverse(), function(i,e){
		if(pPointer >= pLimit || e == ''){
			return false;
		}else{
			pPointer += 1;
			Shopify.getProduct(e, function(product){
				// we now have the product
				var productContainer = $("<div />",{class: "grid__item small--one-half medium-up--one-third whatever-01"});
				var productBoxOne    = $("<div />",{class: "section-RelatedProducts whatever-002"});
				var productBox       = $("<a />",{href: product.url, class: "rv__product_box rv__center whatever-02"});
        var span             = $("<span />",{class: "whatever-00"});
				var productImg       = $("<img />",{class: "rv__product_img whatever-03", src: product.featured_image});
				var pTitle           = $("<h2/>",{alt: product.title, title: product.title, href: product.url,html: product.title, class:"whatever-06"});
				productBox.append(span);
				span.append(productImg);
				productBox.append(pTitle)
				productBoxOne.append(productBox);
				productContainer.append(productBoxOne);
				$("#rv__recent_products.rv__grid>.rv__row:last").append(productContainer);;
			});
		}
	});
	}, 850);
});
</script>
