{% if template.name == 'index' %}
<style media="screen">
.second-video-valentine .slider-wrapper video {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-video-valentine .slider-wrapper {
  position: relative;
  overflow: hidden;
}
.second-video-valentine .slider {
  position: relative;
  background: rgba(0,0,0,0.5);
}
.second-video-valentine .slider h2,
.second-video-valentine .slider a {
  margin: 0;
}
.second-video-valentine .slider-wrapper,
.second-video-valentine .slider,
.second-video-valentine .items {
  max-height: 750px;
  color: #fff;
}
.second-video-valentine .items {
  padding: 15em;
  text-align: center;
}
/* .second-video-valentine .intro-video {padding: 20px;} */
</style>


<div class="second-video-valentine">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
        <source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4">
    </video>
    <div class="slider">
        <div class="items item-1">
            <h1>Title</h1>
            <a href="#">Discover </a>
        </div>
    </div>
</section>
</div>
{% endif %}
