{% if template.name == 'index' %}

<div class="second-video-valentinee">
  <section>
    <h3>Surprise and Delight Your Loves</h3>
    <a href="/collections/christian-siriano-silhouette-fragrances">❤ Discover ❤</a>
    <video controls="true" autoplay loop muted poster="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_valentine.jpg">
        <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_valentine_-_render_for_web.mp4" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_valentine.webm" type="video/webm">
        <p>This browser does not support the video element.</p>
    </video>
</section>
</div>
{% endif %}
