{% if template.name == 'index' %}
<div class="triangle-up"></div>
<div class="second-video-valentine">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
        <source src="https://pixabay.com/en/videos/download/video-6782_source.mp4" type="video/mp4">
    </video>
    <div class="slider">
        <div class="items">
            <h1>Title</h1>
            <a href="#">Discover </a>
        </div>
    </div>
</section>
</div>
<div class="triangle-down"></div>
{% endif %}
