{% if template.name == 'index' %}
<div class="triangle-up"></div>
<div class="second-video-valentine">
  <section class="slider-wrapper">
    <video autoplay nocontrols loop>
        <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_valentine_-_render_for_web.mp4?1397643483575425" type="video/mp4">
        <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_valentine.webm?15603744264311849246" type="video/webm">
          I'm sorry; your browser doesn't support HTML5 video in WebM with VP8/VP9 or MP4 with H.264.
    </video>
    <div class="slider">
        <div class="items">
            <h1>Title</h1>
            <a href="#">Discover </a>
        </div>
    </div>
</section>
</div>
<div class="triangle-down"></div>
{% endif %}
