{% if template.name == 'index' %}
<div class="silhouette-video">
  <section>
    <video autoplay loop muted playsinline poster="https://cdn.shopify.com/s/files/1/1765/8667/files/CS_1.png?15922873702139885635">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/cs-1.webm"  width="100%" height="auto" type="video/webm">
      <source src="https://cdn.shopify.com/s/files/1/1765/8667/files/CS-1_5_MB.mp4"  width="100%" height="auto" type="video/mp4">
      <p>This browser does not support the video element.</p>
    </video>
  </section>
  <section>
    <span>
      <h3>Christian Siriano</h3>
      <p>“A silhouette has so many romantic meanings the shape and form of the body in the female figure, that is what this fragrance is all about every woman can wear it and feel great in it.”</p>
      <a href="collections/christian-siriano-silhouette-fragrances">Discover</a>
    </span>
  </section>
</div>
{% endif %}
