<div class="delina">
  {% for block in section.blocks %}
    <img class="delina-featured" src="{{ block.settings.image | img_url: 'master' }}" alt="" />
  {% endfor %}
</div>




{% schema %}
{
  "name": "Featured Picturino",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "image",
      "name": "Picturino",
      "limit": 1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Pic Pic Pic",
    "category": "Featured Picture"
  }]
}
{% endschema %}
