<!-- <h1>{{ page.title }}</h1> -->

<div class="rte container">
  {{ page.content }}
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/1-_Marly.jpg?3487447762098243227" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Parfums de Marly</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/2-_Lalique-_new_dimentions_6f557e7b-0bea-48b0-8791-edbf00f5a716.jpg?3452779570767600477" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Lalique Parfums</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/Terenzi_-_new_pic_b337055f-9cf5-4998-a125-b5ff2a04f2a6.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Tiziana Terenzi</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/4-_starck-_new2.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Starck Paris</a></h3>
        </div>
      <div class="rectangle-4-copy-2"></div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/6-_initio.jpg?8889640019457393379" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Initio Parfums</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/7-_orlov.jpg?8889640019457393379" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Orlov Paris</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/DEARROSE-VISUELS-26.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Dear Rose</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/9-brioni_1.jpg?12583953971273752649" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Brioni</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/10-_dali-_new.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Dali Haute Parfumerie</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/11-_christian_seriano.jpg?8889640019457393379" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Christian Siriano</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/TOUS_-_new_dimentions.jpg?2855462671691845539" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Tous</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third fragrance-box">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/13-_Desigual.jpg?8889640019457393379" alt="">
      <div class="innerText">
        <div class="captionDiv">
          <h3><a href="#">Desigual</a></h3>
        </div>
        <div class="view-collection">
          <a href="#">View Collection</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item one-whole loadMore">
      <a href="#">Load More</a>
    </div>
  </div>
</div>

<style>
  .container {
    padding: 5%;
  }
  .grid { text-align: center; }
  .captionDiv a {
    text-align: center;
  }
  .captionDiv {
  }
  .fragCaption {
    color: #fff;
  }
  .fragrance-box {
  }
  .loadMore {
    margin-top: 5%;
  }
  .loadMore a {
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 65px;
    border-radius: 5px;
    color: #000;
}
  .view-collection a {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid white;
  }
  .view-collection {
    margin-top: 70%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);

  }
  .innerText {
    margin-top: -100%;
    padding-bottom: 15%;
  }
  .innerText a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .innerSquare {
    content: "";
    border: 15px solid white;
    margin-top: 26px;
  }

  .captionDiv .view-collection .loadMore { font-weight: bold; }
  .rectangle-4-copy-2 {
	width: 325px;
	height: 375px;
	border-radius: 5px;
	border: solid 2px #ffffff;
}
</style>
