<!-- <h1>{{ page.title }}</h1> -->

<div class="rte">
  {{ page.content }}
  <div id="wrapper" style="border: 1px solid black">
    <img class="" style="border: 1px solid black" src="http://via.placeholder.com/1440x494" alt="">
    <div class="four" style="border: 1px solid black">
      <p>
        The Fragrance Group was founded as the exclusive US distributor for a select group of prestige specialty fragrances. Our mission is to build the business of small to medium volume brands in high-end department store distribution. Our business model allows us to provide hands on service to our retail partners to accomplish our mission. We proudly distribute Silhouette Christian Siriano, Lalique Parfums, Parfums de Marly, Tiziana Terenzi, Orlov Paris, Starck Paris, Dear Rose, Tous, Halloween, Desigual, Dali Haute Parfumerie, and Brioni.
      </p>
    </div>

    <div id="blocks" style="border: 1px solid black">

      <div class="" style="border: 1px solid black">
        <p>
          {% include 'icon-plus' %}
          {% include 'icon-plus' %}
        </p>
        <p>
          1
        </p>
      </div>
      <div class="" style="border: 1px solid black">
        <p>
        </p>
        <p>
        </p>
      </div>
      <div class="" style="border: 1px solid black">
        <p>
          {% include 'icon-plus' %}
          {% include 'icon-plus' %}
        </p>
        <p>
          2
        </p>
      </div>

    </div>
    <div id="blocks" style="border: 1px solid black">

      <div class="one" style="border: 1px solid black">
        <p>
          {% include 'icon-plus' %}
          {% include 'icon-plus' %}
        </p>
        <p>
          3
        </p>
      </div>
      <div class="five" style="border: 1px solid black">
        <p>
          5
        </p>
        <p>
        </p>
      </div>
      <div class="three" style="border: 1px solid black">
        <p>
          {% include 'icon-plus' %}
          {% include 'icon-plus' %}
        </p>
        <p>
        4
        </p>
      </div>

    </div>

  </div>
</div>

<style>
  .rte {
  text-align: center;
  }
  .wrapper {
  }
  #blocks { display: flex; }
  #blocks div {
  }
  .one { order: 4; }
  .two { order: 5; }
  .three { order: 3; }
  .four { order: 2 }
  .five { order: 1 }
</style>
