.fragrance-finder .list-of-four{
  margin-bottom: 1em;
  a.slick-slide {
   text-decoration: none;
   letter-spacing: 1px;
   text-align: center;
   opacity: 0.7;
   :hover {
     opacity: 1;
   }
   span {
    display: inline-block;
    height: 110px;
    vertical-align: bottom;
   }
   h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 0.9em;
   }
   p {
    color: #9D9D9D;
    font-size: 0.9em;
    line-height: 20px;
    margin: -5px 20px 11px;
   }
  }
}

.fragrance-finder .center{
  text-align: center;
  h2 {
   text-transform: uppercase;
   font-style: italic;
   font-size: 1.4em;
   margin-bottom: 2.5em;
   color: #333;
  }
  p {
   margin: 25px 0% 20px;
   font-weight: normal;
   font-style: italic;
   font-size: 1.1em;
   letter-spacing: 1px;
  }
}




.fragrance-finder .products-collections section a p:nth-child(4) {
 color: #5343C2;
 font-style: italic;
}
/*Arrows position */
.fragrance-finder .products-collections section div button:nth-child(1) {margin-left: -25px;}
.fragrance-finder .products-collections section div button:nth-child(3) {margin-right: -25px;}

/* Flip Corner Images */
.fragrance-finder .flip{
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
 filter: FlipH;
 -ms-filter: "FlipH";
}


.fragrance-finder .fragrance-finder{margin-bottom: 10em;}
.fragrance-finder .fragrance-finder:nth-child(2){margin-top: 2.5em;}

//Title Name
.fragrance-finder section h2:nth-child(1) {
	text-align: center;
	margin-top: 2.5em;
}

// Not showing the flowers in mobile
.grid__item.medium-up--one-tenth {display: none;}

.fragrance-finder ul.finder-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
}
.fragrance-finder ul.finder-btn a {
	border: 1px solid #C5C5C5;
	color: #5343C2;
	padding: 9px;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 0.9em;
}
.fragrance-finder ul.finder-btn li{list-style: none;}

@include media-query($medium-up) {
  .grid__item.medium-up--one-tenth {display: block;}
  .fragrance-finder {margin-bottom: 10em;}
}

/*---Featured Product - tab switch---*/
ul.tabs-one,
ul.tabs-two,
ul.tabs-three,
ul.tabs-four,
ul.tabs-five,
ul.tabs-six,
ul.tabs-seven {
  margin:0 0 25px 0;
  padding: 0px;
  list-style: none;
  text-align:center;
}
ul.tabs-one li,
ul.tabs-two li,
ul.tabs-three li,
ul.tabs-four li,
ul.tabs-five li,
ul.tabs-six li,
ul.tabs-seven li {
  background:none;
  color:#106199;
  display: inline-block;
  padding: 6px 25px;
  cursor: pointer;
  font-size:14px;
  position:relative;
}
ul.tabs-one li.current-one,
ul.tabs-two li.current-two,
ul.tabs-three li.current-three,
ul.tabs-four li.current-four,
ul.tabs-five li.current-five,
ul.tabs-six li.current-six,
ul.tabs-seven li.current-seven{
	color: #106199;
	font-weight: bold;
}
.tab-content-one,
.tab-content-two,
.tab-content-three,
.tab-content-four,
.tab-content-five,
.tab-content-six,
.tab-content-seven{/*display: none;*/ position:absolute; left:-9999px;}

.tab-content-one.current-one,
.tab-content-two.current-two,
.tab-content-three.current-three,
.tab-content-four.current-four,
.tab-content-five.current-five,
.tab-content-six.current-six,
.tab-content-seven.current-seven{/*display: inherit;*/ position:relative; left:0;}



// Video Lightbox Button
.btn-video{
  text-align: center;
  a {
    color: #106199;
  	border: 1px solid #333;
  	padding: 0.6em 2em;
  	border-radius: 20px;
    :hover {
      color: #5790b7;
      border: 1px solid #999;
    }
  }
}

@include media-query($medium) {
  .fragrance-finder div div.cornerImage img {
  	display: none;
  }
}

@include media-query($small) {
  .fragrance-finder .grid{
	  margin-bottom: 7em;
  }
  ul.tabs-one li,
  ul.tabs-two li,
  ul.tabs-three li,
  ul.tabs-four li,
  ul.tabs-five li,
  ul.tabs-six li,
  ul.tabs-seven li {
    display: block;
  	margin-bottom: 0.7em;
  	color: white;
  	border-radius: 15px;
  	padding: 0.8em 0;
  }
  ul.tabs-one li{background: #673C7E;}
  ul.tabs-two li{background: #536E4B;}
  ul.tabs-three li{background: #F59B0C;}
  ul.tabs-four li{background: #E44690;}
  ul.tabs-five li{background: #A45B52;}
  ul.tabs-six li{background: #E7A078;}
  ul.tabs-seven li{background: #544849;}

  .fragrance-finder .center p {
	  font-size: 0.9em;
    margin: 0px 0% 1.5em;
  }

  // The Title of the Collection
  .fragrance-finder section h2:nth-child(1) {
  	margin-top: 0px;
	  margin-bottom: 0.2em;
   }

   // Button when is active
   ul.tabs-one li.current-one,
   ul.tabs-two li.current-two,
   ul.tabs-three li.current-three,
   ul.tabs-four li.current-four,
   ul.tabs-five li.current-five,
   ul.tabs-six li.current-six,
   ul.tabs-seven li.current-seven {
	   color: #FFF;
     opacity: 0.8;
  }
  .medium-up--eight-tenths {
	  width: 100%;
  }
}
