.header-dropdown{
  background:#FAFAFA;
  color:#333;
  letter-spacing: 1px;
}
.header-dropdown div {
	display: flex;
	justify-content: space-between;
}
.header-dropdown div section h2 {
	font-size: 0.9em;
  font-weight: 300;
}

.header-dropdown div section ul {padding: 0;}

.header-dropdown div section ul li{list-style: none;}

.header-dropdown div section ul li a {
	color: #333;
	text-decoration: none;
  font-size: 0.8em;
  font-weight: 100;
}
