.header-dropdown{
  background:#FAFAFA;
  color:#333;
  letter-spacing: 1px;
}
.header-dropdown div {
	display: flex;
	justify-content:space-around;
}
.header-dropdown div section h2 {
	font-size: 0.9em;
  font-weight: 300;
  background: red;
}

.header-dropdown > div section h3 a {
	text-decoration: none;
	color: #5343C2;
	text-transform: uppercase;
	font-size: 0.8em;
}

.header-dropdown div section ul {padding: 0;}

.header-dropdown div section ul li{list-style: none;}

.header-dropdown div section ul li a {
	color: #5343C2;
	text-decoration: none;
  font-size: 0.8em;
  font-weight: 100;
}


// Fragrances two section links
.header-dropdown section:nth-child(1) > ul {
	float: left;
	margin: 0;
}
.header-dropdown section:nth-child(1) > ul:nth-child(2) {
	margin-right: 30px;
}


.mobile-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
