.latest-product .grid__item {
	padding-left: 0px;
	width: 50%;
}
.latest-product{
  text-align: center;
  padding: 50px 40px;
  margin-left: 0;
}

.latest-product .title {margin-top: 135px;}
.latest-product section:nth-child(1) img {border-radius: 15px;}
.latest-product .title h2 {
  color:#72466B;
  letter-spacing: 1px;
  font-size: 2em;
  font-style: bold;
  text-transform: uppercase;
 }
 .latest-product .title p {
   color: #333;
   margin: -21px 0 80px;
   font-size: 1em;
	 letter-spacing: 1px;
 }
.latest-product .title p::after {
 	content: "";
 	display: block;
 	width: 75px;
 	height: 4px;
 	background: #333;
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 10px;
}
.latest-product .description {
  line-height: 2em;
  color: #666666;
  font-style: italic;
  margin-bottom: 90px;
  letter-spacing: 1px;
}

.latest-product .btn-gradient {
  letter-spacing: 1px;
	padding: 20px 30px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
  background: #72c602;
  background: -webkit-linear-gradient(left, #bba2c8 50%, #e895af);
  background: linear-gradient(-28deg, #bba2c8 0%, #e895af 100%);
}
.latest-product .btn-gradient:hover{
  background:#e895af;
}




@include media-query($medium-up) {
  .mobile-title{display: none;}
}

@include media-query($medium) {
  .latest-product .description {
		padding: 0px;
		margin-bottom: 40px;
	}

  .latest-product {
    display: flex;
    flex-direction: column;
  }
  .latest-product .grid__item {width: 100%;}
	.mobile-title{display: block;}
	.desktop-title{display: none;}
	.latest-product .title {margin-top: -50px;}
}

@include media-query($small) {
  .slide-text-btn {
  	font-size: 1em;
    bottom: 49%;
    left: 3em;
  }
	.desktop-title{display: none;}
	.latest-product .grid__item {width: 100%;}
	.latest-product .title {margin-top: -50px;}

	.latest-product .title h2 {
	  font-size: 1.5em;
  }
	.latest-product .title p {
	  margin: -17px 0 55px;
	  font-size: 0.8em;
  }
	.latest-product .description {
	  margin-bottom: 50px;
	}
}
