.pagination {
	text-align: center;
	color: #9D9D9D;
	border: 1px solid #9D9D9D;
	width: 190px;
	padding: 15px 0;
	border-radius: 25px;}

.pagination span.page a,
.pagination span.next a {
	margin-left: 5px;}

.pagination span.page a,
.pagination span.next a,
.pagination span.prev a {
  text-decoration: none;
  color: #5343C2;}

.pagination span.page a:hover,
.pagination span.next a:hover,
.pagination span.prev a:hover {
  color: #312873;}
