// Press Page
.pressPage{
	letter-spacing: 1px;
	.archive-list .responsive-table {
		width: 100%;
		margin-top: -3.4em;
		.small--hide {
			height: 55px;
			color: #FFF;
		}
	.pressPage .archive-list .responsive-table-row {
		background: #FFF;
		:hover{
		  background: #bba2c8;
		  color: white;
		}
		:nth-of-type(odd) {
			background: #FAFAFA;
		}
	}
	.publication p {
	  font-size: 1em;
	  font-weight: bold;
	}
	.article p {
	  font-size: 0.9em;
	  font-weight: normal;
	}
	.published p {
	  font-size: 0.8em;
	  font-weight: normal;
	}
 }
}

.pressPage .archive-list .responsive-table-row td a{color:#5343C2;}
.pressPage .archive-list .responsive-table-row td a:hover{color:#4373c2;}

// Article Text move to the left
.pressPage .archive-list .responsive-table thead tr th{text-align: left;}
.pressPage .archive-list .responsive-table tbody tr td:nth-child(1),
.pressPage .archive-list .responsive-table thead tr th:nth-child(1){
	padding-left: 30px;
}

@include media-query($small) {
  .pressPage .archive-list .responsive-table tbody tr td:nth-child(1),
  .pressPage .archive-list .responsive-table thead tr th:nth-child(1) {
	   padding-left: 17px;
   }
   .pressPage .archive-list .responsive-table-row:nth-of-type(2n+1) {
	    background: white;
      margin: 5em 0em;
  }
  .pressPage .archive-list .responsive-table td::before {
    color: #D0D0D0;
  	font-size: 0.7em;
  	letter-spacing: 0.2em;
  	font-weight: lighter;
  }
  .pressPage tr.responsive-table-row:nth-child(1) > td:nth-child(1){
    margin-top: -26px;
  }
}
@include media-query($medium) {
  .article p {
  	font-size: 0.9em;
  	font-weight: normal;
  	padding-right: 5em;
  }
}
