.products-collections-slider section .list-of-five {margin-bottom: 7em;}
.products-collections-slider section .list-of-five h2 {
	color: #333;
	text-transform: uppercase;
	font-size: 0.9em;}
.products-collections-slider section .list-of-five p {
	color: #9D9D9D;
	font-size: 0.9em;
	line-height: 20px;
	margin: -5px 20px 11px;}
.products-collections-slider section a p:nth-child(4) {
	color: #5343C2;
	font-style: italic;}
.products-collections-slider section .list-of-five a.slick-slide {
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;}
.products-collections-slider section .list-of-five a.slick-slide span {
	display: inline-block;
	height: 110px;
	vertical-align: bottom;}
.products-collections-slider section a{opacity: 0.7;}
.products-collections-slider section a:hover{opacity: 1;}
.products-collections-slider section .center{text-align: center;}
.products-collections-slider section .center h2 {
	text-transform: uppercase;
	font-style: italic;
	font-size: 1.4em;
	margin-bottom: 2.5em;
	color: #333;
}
