.product-circle-buttons{
	text-align: center;
}

.product-circle-buttons section:nth-child(1) p {
	font-size: 1.4em;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.7em;
	font-weight: 100;
	margin-bottom: 80px;
}
.product-circle-buttons nav ul{
  display: flex;
	flex-direction: row;
  justify-content: space-around;
	flex-wrap: nowrap;
	margin-bottom: 150px;
}
.product-circle-buttons nav ul li {
	list-style: none;
	width: 280px;
	margin-left: 0px;
}
.product-circle-buttons nav ul li a{
	text-decoration: none;
	opacity: 0.5;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.product-circle-buttons nav ul li a:hover{
	text-decoration: none;
	opacity: 1;
}
.product-circle-buttons nav ul li a img{
	border-radius: 90px;
	width: 185px;
}
@keyframes swingOnes {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.product-circle-buttons nav ul li a img:hover{
	transform-origin: top center;
	animation-name: swingOnes;
}
.product-circle-buttons nav ul li a h3 {
	font-size: 1em;
	text-transform: uppercase;
	color: #5343C2;
	font-weight: normal;
	letter-spacing: 2px;
}
.product-circle-buttons nav ul li a h3::after {
	content: "";
	background: #5343C2;
	width: 70px;
	height: 3px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}


.product-circle-buttons nav ul li a p {
	color: #969696;
	line-height: 23px;
	letter-spacing: 1px;
	font-size: 0.9em;
}

@include media-query($medium-up) {
	.product-circle-buttons{
		margin-top: 5em;
	}
}

@include media-query($medium) {

	.product-circle-buttons section:nth-child(1) p {font-size: 1.2em;}
  .product-circle-buttons nav ul {
	  flex-wrap: wrap;
	  justify-content: space-around;
  	margin-left: -40px;
  }
	.product-circle-buttons nav ul li a{opacity: 1;}
	.product-circle-buttons nav ul li {
		width: 210px;
		margin-bottom: 3em;
	}

	// .product-circle-buttons::before,
	// .product-circle-buttons::after{
	// 	content: '';
	// 	display: block;
	// 	background: #dfdfdf;
	// 	width: 100%;
	// 	height: 1px;
	// 	margin: 20px 0 40px;
	// }

}

@include media-query($small) {
	.product-circle-buttons section:nth-child(1) p {
		font-size: 0.9em;
		margin-bottom: 60px;
		margin-top: 3em;
	}
	// .product-circle-buttons::before,
	// .product-circle-buttons::after{
	// 	content: '';
	// 	display: block;
	// 	background: #dfdfdf;
	// 	width: 100%;
	// 	height: 1px;
	// 	margin: 4em 0 5em;
	// }
	.product-circle-buttons nav ul {
	  margin-bottom: -30px;
		margin-left: -20px;
		flex-direction: column;
  }
	.product-circle-buttons nav ul li {
		margin-bottom: 6.5em;
	}


	.product-circle-buttons nav ul li a{opacity: 1}
}
