// Title Name
.search-page h1 {
  color: #666;
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
}
// Container
.search-page form{
	background: #FAFAFA;
	padding: 15px;
	border-radius: 5px;
}
// Search box
.search-page > form #Search {
	width: 94%;
	padding: 10px;
	border-bottom: none;
  border-radius: 5px;
  text-align: center;
}
.search-page button.btn {background: #FAFAFA;} // Search Icon


.search-page ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: baseline;
	margin-top: 2em;
}


.search-page ul li {
	width: 215px;
	list-style: none;
	margin-bottom: 3em;
	padding: 0px 10px;
  opacity: 0.7;
}
.search-page ul li:hover {
  opacity: 1;
}

// Product Image
.search-page  ul li img{width: 55px;}

// Product Name
.search-page ul li h5 a {
	text-decoration: none;
	color: #9D9D9D;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 20px;
}

// Product Price
.search-page > ul li p {
	font-size: 0.9em;
	margin-top: -14px;
  color: #5343C2;
  font-style: italic;
}





// Search dropdown
.search-navigation {
	background: #F0F0F0;
	padding: 0.5em;
}
.search-navigation form input#Search {
	width: 96%;
	padding: 1em;
	border-style: none;
}
