// intro
video {
	max-width: 100%;
	height: auto;
}
.intro-video{
	padding: 0px 20px;
}
.intro-video,
.second-video-valentinee {
	text-align: center;
}
.intro-video::after,
.second-video-valentinee::before {
	content: "";
	display: block;
	width: 100%;
	height: 0.5px;
	background: #ccc;
	width: 70%;
	margin: 0 auto;
}
.intro-video::after {
	margin-top: 4em;
}
.intro-video h3,
.second-video-valentinee section h3 {
	font-size: 1.7em;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
	margin-top: 1.5em;
}
.intro-video a,
.second-video-valentinee section a {
	padding: 1em 4em;
	border: 1px solid #5343C2;
	text-decoration: none;
	color: #5343C2;
	border-radius: 5px;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}
.intro-video a:hover,
.second-video-valentinee section a:hover {
	border: 4px solid #5343C2;
}
.intro-video a:active,
.second-video-valentinee section a:active{
	border: 4px solid #5343C24D;
}
.second-video-valentinee section a{
	margin-bottom: 2em;
}
.second-video-valentinee section video {
	margin-top: 4.5em;
	margin-bottom: 1.5em;
}

//////////////////
// Second Video //
//////////////////
.second-video-valentine .slider-wrapper,
.second-video-valentine .slider,
.second-video-valentine .items {
  color: #fff;
}
.second-video-valentine .items {
  text-align: center;
}

@media only screen and (max-width: 1980px) and (min-width: 1680px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider {
    height: 56.250em;
  }
	.intro-video-valentine .items {
		padding-top: 45%;
	}
  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 1080px;
  }
  .second-video-valentine .items {
	  padding: 28.5em;
  }
}

@media only screen and (max-width: 1680px) and (min-width: 1441px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    height: 750px;
  }
	.intro-video-valentine .items {
		padding-top: 42.5%;
	}
  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 940px;
  }
  .second-video-valentine .items {
	  padding: 24.5em;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1280px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    height: 610px;
  }
	.intro-video-valentine .items {
		padding-top: 40%;
	}

  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 800px;
  }
  .second-video-valentine .items {
	  padding: 20em;
  }
}

// Small Screen 1280 x 800
@include media-query($large) {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    height: 510px;
  }
	.intro-video-valentine .items {
		padding-top: 37.5%;
	}
  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 718px;
  }
  .second-video-valentine .items {
	  padding: 17.5em;
  }
}

// Table
@include media-query($medium) {
  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 430px;
  }
  .second-video-valentine .items {
	  padding: 8.5em;
  }
}
// Mobile
@include media-query($small) {
  .second-video-valentine .slider-wrapper,
  .second-video-valentine .slider,
  .second-video-valentine .items {
    height: 210px;
  }
  .second-video-valentine .items {
	  padding: 1em;
  }
	.intro-video{
		padding: 0px 0px;
	}
	.intro-video h3,
	.second-video-valentinee section h3 {
		font-size: 0.9em;
		margin-bottom: 3em;
	}
}
