// intro
.intro-video-valentine {padding: 20px;}

.intro-video-valentine .slider-wrapper video,
.second-video-valentine .slider-wrapper video  {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-video-valentine .slider-wrapper,
.second-video-valentine .slider-wrapper {
  position: relative;
  overflow: hidden;
}
.intro-video-valentine .slider,
.second-video-valentine .slider {
  position: relative;
  background: rgba(0,0,0,0.5);
}

.intro-video-valentine .slider h2,
.intro-video-valentine .slider a,
.second-video-valentine .slider h2,
.second-video-valentine .slider a {
  margin: 0;
}
.intro-video-valentine .slider-wrapper,
.intro-video-valentine .slider,
.intro-video-valentine .items {
  color: #fff;
}

.intro-video-valentine .items {
  padding: 15em;
  text-align: center;
}

//////////////////
// Second Video //
//////////////////

.second-video-valentine .slider-wrapper,
.second-video-valentine .slider,
.second-video-valentine .items {
  max-height: 750px;
  color: #fff;
}
.second-video-valentine .items {
  padding: 15em;
  text-align: center;
}



.triangle-up,
.triangle-down  {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 0;
}

.triangle-up {
	border-top: 65px solid white;
	border-right: 1920px solid transparent;
}

.triangle-down {
	border-bottom: 65px solid white;
	border-left: 1920px solid transparent;
	margin-top: -65px;
}











@media only screen and (max-width: 1980px) and (min-width: 1680px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    max-height: 900px;
  }
  .intro-video-valentine .items {padding: 25em;}
}


@media only screen and (max-width: 1680px) and (min-width: 1441px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    max-height: 750px;
  }
  .intro-video-valentine .items {padding: 20em;}
}

@media only screen and (max-width: 1440px) and (min-width: 1280px)  {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    max-height: 610px;
  }
  .intro-video-valentine .items {padding: 15em;}
}


// Small Screen 1280 x 800
@include media-query($large) {
  .intro-video-valentine .slider-wrapper,
  .intro-video-valentine .slider,
  .intro-video-valentine .items {
    max-height: 510px;
  }
  .intro-video-valentine .items {padding: 12em;}
}


// Table
@include media-query($medium) {
  .intro-video-valentine .slider,
  .second-video-valentine .slider {
    background: yellow;
  }
}
// Mobile
@include media-query($small) {
  .intro-video-valentine .slider,
  .second-video-valentine .slider {
    background: gold;
  }
}
