<!-- beginning of footer -->
<footer>
  <!-- beginning of .top -->
  <div class="top">
    <section>
      <ul>
        <li><h4>Accepting</h4></li>
        <li><i class="fab fa-cc-paypal fa-2x"></i></li>
        <li><i class="fab fa-cc-visa fa-2x"></i></li>
        <li><i class="fab fa-cc-mastercard fa-2x"></i></li>
        <li><i class="fab fa-cc-amex fa-2x"></i></li>
        <li><i class="fab fa-cc-discover fa-2x"></i></li>
      </ul>
    </section>
    <section>
      <ul>
        <li><h4>Stay Connected</h4></li>
        <li><a href="#"><i class="fab fa-facebook fa-lg"></a></i></li>
        <li><a href="#"><i class="fab fa-twitter fa-lg"></a></i></li>
        <li><a href="#"><i class="fab fa-youtube fa-lg"></a></i></li>
      </ul>
    </section>
  </div>
  <!-- End of .top -->
  <!-- beginning of .bottom -->
  <div class="bottom page-width">
    <p>©2017-2018 The Fragrance Group. All rights reserved</p>
    <ul>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <!-- bottom of .bottom -->
</footer>
<!-- bottom of footer -->
