<!-- beginning of footer -->
<footer class="animationFadeIn">
  <!-- beginning of .top -->
  <div class="top">
    <section>
      <ul>
        <li><h4>Accepting</h4></li>
        <li><i class="fab fa-cc-paypal fa-lg"></i></li>
        <li><i class="fab fa-cc-visa fa-lg"></i></li>
        <li><i class="fab fa-cc-mastercard fa-lg"></i></li>
        <li><i class="fab fa-cc-amex fa-lg"></i></li>
        <li><i class="fab fa-cc-discover fa-lg"></i></li>
      </ul>
    </section>
    <section>
      <ul>
        <li><h4>Stay Connected</h4></li>
        <li><a href="https://www.facebook.com/fragrancegroup/" target="_blank"><i class="fab fa-facebook"></a></i></li>
        <li><a href="https://twitter.com/FragranceGroup" target="_blank"><i class="fab fa-twitter"></a></i></li>
        <li><a href="https://www.instagram.com/fragrancegroup/" target="_blank"><i class="fab fa-instagram"></a></i></li>
      </ul>
    </section>
  </div>
  <!-- End of .top -->
  <!-- beginning of .bottom -->
  <div class="bottom page-width">
    <section><p>©2017-2018 The Fragrance Group. All rights reserved</p></section>
    <section>
      <ul>
        <!-- <li><a href="press">Press</a></li> -->
        <li><a href="contact">Contact</a></li>
      </ul>
    </section>
  </div>
  <!-- bottom of .bottom -->
</footer>
<!-- bottom of footer -->
