<div class="slick-slider js-slick">
  {% for block in section.blocks %}
    <div class="photo is-animating">
      <img src="{{ block.settings.image | img_url: 'master' }}" alt="" />
      <a href="{{ block.settings.url }}">{{ block.settings.textarea }}</a>
    </div>
  {% endfor %}
</div>



{% schema %}
{
  "name": "Slider",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 4,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
           "type": "textarea",
           "id": "textarea",
           "default": "You Are Never Fully Dressed Without Perfume!",
           "label": "Short Summary"
        },
        {
           "type": "url",
           "id": "url",
           "label": "Link to the Button"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slider",
    "category": "Slideshow"
  }]
}
{% endschema %}


{% javascript %}
$(document).ready(function(){
  $(document).ready(function () {
  $('.js-slick').slick({
    autoplay: true,
    autoplaySpeed: 5000,
    dots: true,
    draggable: false,
    fade: true,
    speed: 1000,
    arrows:false
  });

  $('.js-slick').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
    $(slick.$slides).removeClass('is-animating');
  });

  $('.js-slick').on('afterChange', function(event, slick, currentSlide, nextSlide) {
    $(slick.$slides.get(currentSlide)).addClass('is-animating');
  });
});

});
{% endjavascript %}
